<% content_for :header do %>
  <div id="banner">
    <div class="container row">
      <div class="col-md-3 col-md-offset-9 col-sm-12">會員帳戶</div>
    </div>
  </div>
<% end %>  

<article class="container-fluid">
  <section class="container row" id="member-info">
    <div class="col-md-10 col-md-offset-1 col-sm-12 row">
      <div class="col-md-3">
        <aside>
          <h3 class="hidden-sm hidden-xs">帳戶管理</h3>
          <ul>
            <li><%= link_to '訂單管理', useradmin_orders_path %></li>
            <li><%= link_to '會員資料', useradmin_users_path %></li>
            <li class="active"><%= link_to '常用地址', useradmin_addressbooks_path %></li>
          </ul>
        </aside>
      </div>
      <div class="col-md-9">
        <article>
        <h3>常用地址</h3>
          <% unless current_user.addressbooks.count >= 5 %>
            <div class="text-right">
              <%= link_to 'javascript:void(0);', class: "right highlight toggle_new_addressbook" do %>
                新增項目<img src="/images/admin/add.png">
              <% end %>
            </div>
          <% end %>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <% @addressbooks.each_with_index do |addressbook, index| %>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr class="show_addressbook_<%= addressbook.id %>" >
                <th><img src="/images/mbr-06.jpg">地址</th>
                <td>
                <div style="position:relative">
                  <%= addressbook.address %> 
                  <div class="tool">
                    <%= link_to "編輯", "javascript:void(0);", :data => { :id => addressbook.id }, :class => "edit", title:"編輯" %>
                    <%= link_to "刪除", useradmin_addressbook_path(addressbook), :method => :delete, :data => {:confirm => "確定刪除？"}, :class => "delete", title: "刪除" %>
                  </div>
                </div>   
                </td>

              </tr>
              
              <tr class="list-edit edit_addressbook_<%= addressbook.id %>" style="display:none;">
                <%= form_for(addressbook, :url => useradmin_addressbook_path(addressbook) , html: { id: "patchthisaddressbook_#{addressbook.id}"}) do |f| %>
                
                <th><img src="/images/mbr-06.jpg">地址</th>
                <td>
                  <div style="position:relative">
                    <%= f.text_field :address, class:"text", placeholder: "編輯常用地址", class: 'form-control' %>
                    <div class="tool">
                    <a href="javascript: document.getElementById('patchthisaddressbook_<%= addressbook.id %>').submit();" class="uvs" data-no-turbolink = true >儲存</a>
                    <%= link_to "取消", "javascript:void(0);" ,:data => { :id => addressbook.id }, :class => "uvs" %>
                  </div>
                  </div>
                </td>
                <% end %>
              </tr>

              </table>
            <% end %>

            <% unless current_user.addressbooks.count >= 5 %>
            <!-- new -->
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr class="list-new list-edit new_addressbook" style="display:none;">
                <%= form_for(@new_addressbook, :url => useradmin_addressbooks_path , html: {id: "create_new_addressbook" }) do |f| %>
                <th><img src="/images/mbr-06.jpg">地址</th>
                <td>
                  <div style="position:relative">
                    <%= f.text_field :address, class:"text", placeholder: "編輯常用地址", class: 'form-control' %>
                    <div class="tool">
                    <a href="javascript: document.getElementById('create_new_addressbook').submit();" class="uvs" data-no-turbolink = true >儲存</a>
                    <%= link_to "取消", "javascript:void(0);" , :class => "uvs cancel_new_addressbook" %>
                  </div>
                  </div>
                </td>
                <% end %>
              </tr>
            </table>
            <% end %>
          </table>
        </article>
      </div>
    </div>
  </section>
</article>

<script type="text/javascript">
$(document).ready(function(){
  $(".toggle_new_addressbook").click(function(){

    if($("tr[class*=new_addressbook]:visible").length > 0){
      alert("請先完成編輯中的地址");
    }
    else{
      
      $(".list-new").toggle();
    }
  });

  $(".cancel_new_addressbook").click(function(){
      $(".new_address_input").val(''); //clear input
      $(".list-new").toggle();
  });

  $(".edit").click(function(){
    $active_id = $(this).data("id");
    if($("tr[class*=edit_addressbook]:visible").length > 0){
      alert("請先完成編輯中的地址");
    }
    else{
      toggle_edit_area($active_id);
    }
  });

  $(".uvs").click(function(){
    $active_id = $(this).data("id");
    toggle_edit_area($active_id);
  });

  function toggle_edit_area(active_id){
    $("tr.edit_addressbook_" + active_id).toggle();
    $("tr.show_addressbook_" + active_id).toggle();
  }
});
</script>
  