<% content_for :breadcrumb do %>
  <%= link_to 'Home', root_path, title: '首頁' %> &nbsp; > &nbsp; <%= link_to 'ACCOUNT', 'javascript:void(0);' %>
<% end %>


  <div class="xlg-margin hidden-xs"></div>
  <!-- Space 間隔 -->
  <div class="container"><!-- Start .container -->
    <header class="content-title">
      <div class="title-bg">
        <h2 class="title account">ACCOUNT<span>會員帳戶</span></h2>
      </div>
    </header>
    <div class="row"><!-- Start .row -->
      
      <div class="tab-container left product-detail-tab clearfix">
        <aside class="col-md-3 col-sm-4 col-xs-12 sidebar"><!-- Start #sidebar 左清單 -->
          
          <div class="panel-group custom-accordion sm-accordion categoryTitle" id="category-filter"><!-- Start .panel-group 分類面板 -->
            <div class="accordion-header">
              <div class="accordion-title markTitle">帳戶管理<span>ACCOUNT</span></div>
            </div>
            <ul class="category-filter-list jscrollpane nav-tabs">
              <li>
                <%= link_to '訂單管理 Order history', useradmin_orders_path %>
              </li>
              <li>
                <%= link_to '會員資料 Personal details', useradmin_users_path %>
              </li>
              <li class="active">
                <%= link_to '常用地址 Primary address', useradmin_addressbooks_path %>
              </li>
              <li>
                <%= link_to '我的最愛 My Favorites', useradmin_tracking_lists_path %>
              </li>
            </ul>
          </div>
          <!-- End .panel-group --> 
          
        </aside>
        <!-- End #sidebar -->
        <div class="tab-content clearfix">

           <div class="tab-pane active" id="address">
            <p>設定常用地址 Edit primary address</p>
            <% unless current_user.addressbooks.count >= 5 %>
            <div class="text-right">
              <%= link_to 'javascript:void(0);', class: "btn btn-custom-3 toggle_new_addressbook" do %>
                新增項目
              <% end %>
            </div><br>
            <% end %>
            
            <% @addressbooks.each_with_index do |addressbook, index| %>
              <%# show %>
              <div class="input-group show_addressbook_<%= addressbook.id %>"> <span class="input-group-addon"><span class="input-icon input-icon-address"></span><span class="input-text">地 址</span></span>
                <p><%= addressbook.address %> </p>
                <%= link_to "編輯", "javascript:void(0);", :data => { :id => addressbook.id }, :class => "edit btn btn-custom-1 addEdit", title:"編輯" %>
                <%= link_to "刪除", useradmin_addressbook_path(addressbook), :method => :delete, :data => {:confirm => "確定刪除？"}, :class => "delete btn btn-custom-1 addDelete", title: "刪除" %>
              </div>
              
              <%# edit %>
              <div class="input-group list-edit edit_addressbook_<%= addressbook.id %>" style="display:none;"> <span class="input-group-addon"><span class="input-icon input-icon-address"></span><span class="input-text">地 址</span></span>
                <%= form_for(addressbook, :url => useradmin_addressbook_path(addressbook) , html: { id: "patchthisaddressbook_#{addressbook.id}"}) do |f| %>
                  <%= f.text_field :address, class:"text", placeholder: "編輯常用地址", class: 'form-control input-lg' %>
                <% end %>
                <a href="javascript: document.getElementById('patchthisaddressbook_<%= addressbook.id %>').submit();" class="uvs btn btn-custom-1 addEdit" data-no-turbolink = true >儲存</a>
                <%= link_to "取消", "javascript:void(0);" ,:data => { :id => addressbook.id }, :class => "uvs btn btn-custom-1 addDelete" %>
              </div>
              
            <% end %>

            <% unless current_user.addressbooks.count >= 5 %>
              <!-- new -->
              <div class="input-group list-new new_addressbook" style="display:none;"> <span class="input-group-addon"><span class="input-icon input-icon-address"></span><span class="input-text">地 址</span></span>
                <%= form_for(@new_addressbook, :url => useradmin_addressbooks_path , html: {id: "create_new_addressbook" }) do |f| %>
                  <%= f.text_field :address, class:"text", placeholder: "編輯常用地址", class: 'form-control input-lg new_address_input' %>
                <% end %>
                <a href="javascript: document.getElementById('create_new_addressbook').submit();" class="uvs  btn btn-custom-1 addEdit" data-no-turbolink = true >儲存</a>
                <%= link_to "取消", "javascript:void(0);" , :class => "uvs cancel_new_addressbook btn btn-custom-1 addDelete" %>
              </div>
            <% end %>
            
          </div>
          <!-- End .tab-pane --> 
        </div>
        <!-- End .tab-content --> 
      </div>
      <!-- End .tab-container --> 
      
    </div>
    <!-- End .row --> 
    
  </div>
  <!-- End .container -->
  
  <div class="lg-margin2x visible-sm visible-xs"></div>
  <!-- Space 間隔--> 
  


<script type="text/javascript">
$(document).ready(function(){
  $(".toggle_new_addressbook").click(function(){

    if($("div[class*=new_addressbook]:visible").length > 0){
      alert("請先完成編輯中的地址");
    }
    else{
      
      $(".list-new").toggle();
    }
  });

  $(".cancel_new_addressbook").click(function(){
      $(".new_address_input").val(''); //clear input
      $(".list-new").toggle();
  });

  $(".edit").click(function(){
    $active_id = $(this).data("id");
    if($("div[class*=edit_addressbook]:visible").length > 0){
      alert("請先完成編輯中的地址");
    }
    else{
      toggle_edit_area($active_id);
    }
  });

  $(".uvs").click(function(){
    $active_id = $(this).data("id");
    toggle_edit_area($active_id);
  });

  function toggle_edit_area(active_id){
    $("div.edit_addressbook_" + active_id).toggle();
    $("div.show_addressbook_" + active_id).toggle();
  }
});
</script>
  