
<header>
  <h2 class="left">商品管理</h2>
  <nav class="left">
    <%= link_to "簡介", edit_admin_category_product_path(@product.category, @product) %>
    <%= link_to "照片", admin_category_product_photo_path(@product.category, @product) %>
    <%= link_to "尺寸", admin_category_product_measurements_path(@product.category, @product), class: "active" %>
    <%= link_to "內容", admin_category_product_free_paragraph_path(@product.category, @product) %>
    <%= link_to "庫存", admin_category_product_stocks_path(@product.category, @product)%>
  </nav>
</header>

<%# link_to 'NEW', new_admin_category_product_measurement_path(params[:category_id], params[:product_id]) %>
<article>
  <div class="list">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">        
          <tr>
            <th width="28%" align="left">項目</th>
            <th width="9%" >XS</th>
            <th width="9%" >S</th>
            <th width="9%" >M</th>
            <th width="9%" >L</th>
            <th width="9%" >XL</th>
            <th width="9%" >F</th>
            <th width="18%">&nbsp;</th>
          </tr>
          <% @measurements.each do |measurement| %>
          <tr>
            <td><%= measurement.title %></td>
            <td align="center"><%= measurement.context_1 %></td>
            <td align="center"><%= measurement.context_2 %></td>
            <td align="center"><%= measurement.context_3 %></td>
            <td align="center"><%= measurement.context_4 %></td>
            <td align="center"><%= measurement.context_5 %></td>
            <td align="center"><%= measurement.context_6 %></td>
            <td align="right">
              <div class="tool">
                <%= link_to '', edit_admin_category_product_measurement_path(params[:category_id], params[:product_id],measurement), class: 'edit' %>
                <%#= link_to "", admin_category_product_measurement_path(@product.category,@product,measurement), :data => { :confirm => "確定繼續？" }, :method => :delete, :class => "delete", title: "刪除" %>
              </div>
            </td>
          </tr>
        <% end %>
      </table>
  </div>
  <div class="button"> 
    <%= link_to admin_category_path(params[:category_id]) , class: 'left' do %>
      <img src="/images/admin/left.png">返回
    <% end %>
  </div>
</article>
