<div class="btn-group dropdown-cart">
  <% @items_in_cart = Cart.check_items_in_cart(cookies[:cart_ladyboo], "for_cart") %>
  <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown"> <span class="cart-menu-icon"></span><span class="hide-for-xs"><%= "#{products_in_cart_count}" %> item(s) </span><span class="drop-price hide-for-xs">- NT$ <%= number_with_delimiter(sum_cart_items(@items_in_cart)) %></span> </button>

  <div class="dropdown-menu dropdown-cart-menu pull-right clearfix" role="menu"><!-- Start .dropdown-cart-menu -->
    <p class="dropdown-cart-description">購物車內商品 Shopping Cart</p>
    <ul class="dropdown-cart-product-list">
       
      <% @items_in_cart.each do |item| %>
        
        <li class="item clearfix"> 
          <%= link_to delete_cart_path(item[:id]), :method => :delete , class: 'delete-item' do %>
            <i class="fa fa-times"></i>
          <% end %>
          <figure> 
            <% unless item[:product_id].nil? || item[:product_id].empty? %>
              <% if Product.find_by_id(item[:product_id]).galleries.select{ |v| v['type'] == "ProductCoverGallery" }.count > 0 %>
                <%= link_to category_product_path(Stock.find(item[:id]).product.category.id,item[:product_id]), target: '_blank' do %>
                  <%= image_tag Product.find_by_id(item[:product_id]).galleries.select{ |v| v['type'] == "ProductCoverGallery" }.first.attachment.url, width: 100, height: 100 %>
                <% end %>
              <% end %>
            <% end %>
          </figure>
          <div class="dropdown-cart-details">
            <p class="item-name"> 
              <%= link_to category_product_path(Stock.find(item[:id]).product.category.id,item[:product_id]), target: '_blank', title: item[:name]+'    '+item[:en_name] do %>
                <%= item[:name] %><br><%= item[:en_name] %>
              <% end %>
            </p>
            <p> <%= item[:amount] %>x <span class="item-price">$<%= item[:price_for_sale] > 0 ? number_with_delimiter( item[:price_for_sale] ): number_with_delimiter( item[:price] ) %></span> </p>
          </div>
        </li>
        
      <% end %>
      
    </ul>
    <ul class="dropdown-cart-total">
      <li><span class="dropdown-cart-total-title">Total:</span><%= number_with_delimiter( sum_cart_items(@items_in_cart) )%></li>
    </ul>
    <div class="dropdown-cart-action">
      <p><%= link_to '購物車 CART', cart_index_path, class: "btn btn-custom-3 btn-block" %></p>
    </div>
  </div><!-- End .dropdown-cart-menu --> 

</div><!-- End .dropdown-cart -->