
<script src="/js_plugins/colorbox/jquery.colorbox-min.js"></script>
<link rel="stylesheet" type="text/css" href="/js_plugins/colorbox/colorbox.css" />    
<style>
div ,td, p .noTransition {
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
}
</style>

<% content_for :breadcrumb do %>
<%= link_to 'Home', root_path, title: '首頁' %> &nbsp; > &nbsp; YOUR CART
<% end %>

<div class="xlg-margin"></div><!-- Space 間隔-->
<div class="container">
  <header class="content-title"><!-- Start .content-title 標題 -->
    <div class="title-bg">
      <h2 class="title cart">YOUR CART<span>購物車</span></h2>
    </div>
  </header><!-- End .content-title -->

  <div class="container">
    <header class="stepTag"><!-- Start .stepTag 步驟標籤 -->
      <ul>
        <li><span>確認購物明細<br>Confirm order</span></li>
          <li><span>選擇付款方式<br>Payment</span></li>
          <li class="active"><span>運費計算<br>Shipping</span></li>
          <li><span>完成訂購<br>Confirmation</span></li>
      </ul>
    </header><!-- End .stepTag 步驟標籤 -->
    <h1>1. 付款方式<br>　PAYMENT</h1>
    <div class="cartPanel payment">
      <table class="table comfirm">
        <tr>
            <td>
               <p class="txtPayment"><%= @order.get_payment_type %></p>
            </td>
            <% if @order.payment_type == 'atm_transfer' %>
              <td class="atm"><span>匯款戶名：女駙服飾有限公司</span>　<span>國泰世華銀行 信義分行(總行代碼013)</span>　<span>帳號：888-88-888888-8</span></td>
            <% end %>
        </tr>
      </table>
    </div>
    <h1>2. 訂單明細<br>　ORDER INFO</h1>
    <table class="table orderItem">
      <tr>
          <th>商品名稱 Name</th>
          <th>售價 Price</th>
          <th>數量 Quantity</th>
          <th>總額 Subtotal</th>
      </tr>
      <%= render partial: "show_order_items_nop", :locals => { order_items: @order_items } %>
      <tr>
        <td colspan="4" class="tableBottom2">
          購物小計 Subtotal  <span class="subtotal">NT$ <%= @sum = sum_cart_items(@order_items) %></span><br>
          運費 Delivery  <span class="subtotal">NT$ <%= get_shipping_fee_by_type(@order)  %></span><br>
          <% if is_delivery_discounted?(@order, @sum) %>
          滿額免運費 Shipping fee discount <span class="subtotal">NT$ -<%= fetch_discount_price_when_checkout(@order.delivery_type) %></span><br>
          <% end %>
          <hr>
          訂單總計 Total  <span class="subtotal">NT$ <%= @sum + @order.shipping_fee %><%# cart_helper  %></span></td>
      </tr>
    </table>
    <h1>3. 配送資料與發票<br>　DELIVERY &amp; BILLING </h1>
    <div class="cartPanel delivery2">
        <div class="row portfolio-item-container" data-max-col="2">
          <div class="col-md-6 col-sm-6 col-xs-6">
          <h2>收件人資訊</h2>
          收件人：<%= @order.receiver_name%> <br>
          地址： <%= @order.receiver_address%> <br>
          行動電話：<%= @order.receiver_tel%> <br>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-6">
          <h2>發票資訊：<%= name_of_invoice(@order.invoice_type) %></h2>
            發票地址：<%= @order.invoice_address %> <br>
          <% if @order.invoice_type == 'three-copies' %>
            統一編號：<%= @order.invoice_companynum%><br>
            發票抬頭：<%= @order.invoice_title %> <br>
            <!-- 地址： 台北市中正區 100 民權南路 454 號 101樓<br> -->
          <% end %>
          </div>
        </div>
    </div>
  
    <p class="text-right">　
      <% if !@order.nil? %>
        <%= link_to "#{root_url}cart/confirm", class: "confirm btn btn-custom-3" do %>
          確認結帳<br>Confirm order
        <% end %>
        <p style='display:none' class="confirm"><strong>交易進行中 請稍後...</strong></p>
      <% else %>
          <%= params[:err] %>
      <% end %>
    </p>
  </div><!-- End .container -->

</div><!-- End .container -->

<!-- This contains the hidden content for inline calls -->
<div class="waiting" style='display:none'>
  <div id='inline_content' style='padding:10px; background:#fff;'>
    <p><strong>交易進行中 請稍後...</strong></p>
    <p><%= image_tag("/images/loading.gif") %></p>
  </div>
</div>

<script>
  $(document).ready(function(){
    $(".confirm").click(function(){
      
      $(".confirm").toggle();
      
      $.colorbox({
        inline:true, 
        width:"80%",
        height:"30%",
        escKey: false, 
        closeButton: false,
        overlayClose: false,
        transition: "none",
        open: true,
        href: "#inline_content"
      });
      
    });

  });
</script>