<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <%= render "ladyboo_mailer/header_logo" %>  

  <p>親愛的會員 <%= @order.buyer_name%>，您好：</p>

  <p>感謝您對ladyboo的支持，（訂單編號：<%= @order.ordernum%>）</p>
  <p>本次訂單金額：$<%= number_with_delimiter(@ordersum) %></p>

  <p>匯款戶名：咖碼股份有限公司 </p>
  <p>銀行：玉山銀行 敦南分行（銀行代碼：808）</p>
  <p>帳號：0314-940-019559</p>

  <p>請於三日內進行匯款，謝謝。</p>

  <p>為了保護您的個人資料安全，本通知信將不顯示訂單明細。</p>

  <p>建議您可以<%= link_to "登入ladyboo網站", user_session_url ,target: "_blank" %>，查詢您的訂單以及處理進度。</p>

  <%= render "ladyboo_mailer/footer" %>
</body>
</html>