<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <%= render "ladyboo_mailer/header_logo" %>  
  
  <p>親愛的會員 <%= @order.buyer_name%>，您好：</p>

  <p>感謝您對 LadyBoo的支持，（訂單編號：<%= @order.ordernum%>）</p>

  <p>為了保護您的個人資料安全，本通知信將不顯示訂單明細。</p>

  <p>建議您可以<%= link_to "登入 LadyBoo網站", user_session_url ,target: "_blank" %>，查詢您的訂單以及處理進度。</p>

  <br>

  <p>Dear member <%= @order.buyer_name%>, hello :</p>

  <p>LadyBoo thank you for your support, ( order number :<%= @order.ordernum%>)</p>

  <p>To protect your personal data, this notification letter will not display the order details.</p>

  <p>You can <%= link_to "log in LadyBoo", user_session_url ,target: "_blank" %> website to check the progress of your order .</p>

  <%= render "ladyboo_mailer/footer" %>
</body>
</html>