    <header>
      <h2 class="left">主視覺輪播<span> / 首頁管理</span></h2>
      <nav class="left"></nav>
      <div class="explain right"><p>圖片尺寸：1250 px * 500 px</p></div>
    </header>
    <article>
      <div class="form">
        <%= form_for(@banner,url: admin_banners_path(), :html => {:id =>'NewAttachlForm' , :method => "POST", :multipart => true } ) do |fattach| %>

          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="7%">圖片：</td>
              <td width="29%"><%= file_field_tag :attachment , class: 'file' %></td>
              <td width="2%"></td>
              <td width="7%">網址：</td>
              <td width="55%"><%= fattach.text_field :description, class: 'text' %></td>
            </tr>
          </table>
          <%# fattach.submit%>
        <% end %>
      </div>

      <div class="button">
        <%= link_to image_tag("/images/admin/left.png")+"返回", admin_banners_path(), class: "left" %>
        <a href="javascript: void(0);" id="sendtheform" class="right highlight" data-no-turbolink = true >儲存
          <img src="<%= image_path("/images/admin/up.png") %>">
        </a>
      </div>

      <div class="list">
      <table id="mainAttachList"  width="100%" border="0" cellspacing="0" cellpadding="0" >
          <tbody id="listThisAttach">
              <% @banner.galleries.select{ |v| v['type'] == "IndexSliderGallery" }.each do |attach| %>
                  <tr>
                    <td width="6%"></td>
                    <td width="12%"><image src=<%= "#{attach.attachment.url}" %> alt=<%= "#{attach.file_name}" %> width="85%" height="auto"/></td>
                    <td width="64%"><%= (attach.file_size.to_i)/1000 %>KB @ [<%= attach.updated_at.in_time_zone("Taipei") %> 上傳] </td>
                    <td width="18%">
                      <div class="tool">
                          <%= link_to '', admin_gallery_path(attach.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete', title: '刪除' %>
                      </div>
                     </td>
                   </tr>
              <% end %>
           </tbody>
        </table>
      </div>

    </article>  

    <script src="/js_plugins/jq_validation/jquery.validate.min.js"></script>
    <script src="/js_plugins/jq_validation/additional-methods.min.js"></script>
    <script src="/js_plugins/jq_validation/messages_zh_TW.js"></script>
    <script type="text/javascript">
      //JQ Validate
      $(document).ready(function() {
        $("#NewAttachlForm").validate({
          //debug: true,
          rules: {
            attachment: {required:true}//,
            //"banner[description]": {required:true}
          }

        });

        $("#sendtheform").click(function(e){
          e.preventDefault();
          if($("#NewAttachlForm").valid())
          {
            $("#NewAttachlForm").submit();
          }
        });

      });
    </script>
