<script src="/js_plugins/chart/Chart.js"></script>

<style type="text/css">
  table {
    width: 100%;
    text-align: center;
  }
  table, th, td {
   border: 1px solid black;
  }
  canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}

</style>
DailyReport - index<br>

<% unless @revenue_details[1] == true %>
  <br>= top 10 in category<br>
  <% @revenue_details[2].each do |record| %>
    <%= record[0] %> => <%= record[1] %> <%= "#{((record[1].to_f/@product_revenue_amount)*100).round(3)} %" if @product_revenue_amount > 0 %><br>
  <% end %>
  <canvas id="myChartByCategory">
    <script>
      // Chart.defaults.global.responsive = true;
      var data_by_category = <%= @chart_data_array[0].to_json.html_safe %>;
      // Get the context of the canvas element we want to select
      var ctx = document.getElementById("myChartByCategory").getContext("2d");
      var myNewChart = new Chart(ctx).Doughnut(data_by_category);
    </script>
  </canvas><!--canvas-1 end-->

  <br>= top 10 in product<br>
  <% @revenue_details[3].each do |record| %>
    <%= record[0][0] %> - <%= record[0][1] %> => <%= record[1] %> <%= "#{((record[1].to_f/@product_revenue_amount)*100).round(3)} %" if @product_revenue_amount > 0 %><br>
  <% end %>  

  <canvas id="myChartByProduct">
    <script>
      // Chart.defaults.global.responsive = true;
      var data_by_product = <%= @chart_data_array[1].to_json.html_safe %>;
      // Get the context of the canvas element we want to select
      var ctx = document.getElementById("myChartByProduct").getContext("2d");
      var myNewChart = new Chart(ctx).Doughnut(data_by_product);
    </script>
  </canvas><!--canvas-2 end-->

  <br>= top 10 in stock<br>
  <% @revenue_details[4].each do |record| %>
    <%= record[0][3] %> => <%= record[1] %> <%= "#{((record[1].to_f/@product_revenue_amount)*100).round(3)} %" if @product_revenue_amount > 0 %><br>
  <% end %>
  
  <canvas id="myChartByStock">
    <script>
      // Chart.defaults.global.responsive = true;
      var data_by_stock = <%= @chart_data_array[2].to_json.html_safe %>;
      // Get the context of the canvas element we want to select
      var ctx = document.getElementById("myChartByStock").getContext("2d");
      var myNewChart = new Chart(ctx).Doughnut(data_by_stock);
    </script>
  </canvas><!--canvas-3 end-->

<% end %>
<hr>

<canvas id="myLine" width="700" height="300">
  <script>
    var data2 = {
        labels: <%= @last_12_months_seq.to_json.html_safe %>,
        datasets: [
            {
                label: "總營業額",
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                data: <%= @last_12_months_revenue_seq.to_json.html_safe %>
            }
        ]
    };
    var ctx2 = document.getElementById("myLine").getContext("2d");
    var myNewLine = new Chart(ctx2).Line(data2);
  </script>
</canvas><!--canvas-2 end-->

<hr>
<table class='table'>
  <caption>目前訂單狀態</caption>
  <tr>
    <td>待處理訂單數 A</td>
    <td>待付款訂單數 B</td> 
    <td>人為處理訂單數 C</td>
    <td>已出貨訂單數 D</td>
    <td>處理中訂單(ACTIVE=A+B+C+D)</td> 
  </tr>
  <tr>
    <td><%= @realtime_todolist_order_count %></td>
    <td><%= @realtime_pending_order_count %></td>
    <td><%= @realtime_human_involved_order_count %></td>
    <td><%= @realtime_shipped_order_count %></td>
    <td><%= @realtime_total_active_order_count %></td>
  </tr>
</table>
<hr>
<table class='table'>
<caption>歷史訂單狀態</caption>
  <tr>
    <td>處理中訂單(ACTIVE=A+B+C+D)</td> 
    <td>總完成訂單 E</td> 
    <td>總最後確認跳出訂單 F</td>
    <td>總經人為處理結束訂單 G</td>
    <td>總取消訂單 H</td> 
    <td>總訂單(ACTIVE+E+F+G+H)</td>
  </tr>
  <tr>
    <td><%= @realtime_total_active_order_count %></td>
    <td><%= @all_close_orders_count %></td>
    <td><%= @all_hold_orders_count %></td>
    <td><%= @all_abnormal_orders_count %></td>
    <td><%= @all_cancel_orders_count %></td>
    <td><%= @all_orders_count %></td>
  </tr>
</table>
<hr>
 
<% unless @yesterday_report.blank? %>
<table class='table'>
  <caption>最新日報表</caption>
  <tr>
    <td>日期</td>
    <td>訂單總數</td> 
    <td>成功下單</td>
    <td>最後確認前離開</td>

    <td>完成訂單數</td> 
    <td>取消訂單數</td>
    <td>人為處理完成</td>
    <td>新會員</td> 
    <td>運費營業額 S</td>
    <td>產品營業額 T</td>
    <td>營業額 S+T </td>
    <%# unless @yesterday_report.total_order_count == 0 %>
    <td>成功下單%</td>
    <td>跳出%</td>
    <%# end %>
  </tr>
  <%= render partial: 'tr_of_each_report', locals: { report: @yesterday_report } %>
</table>
<% end %>
<hr>

<% unless @daily_reports.blank? %>
  <table class='table' >
    <caption>所有日報表</caption>
    <tr>
      <td>日期</td>
      <td>訂單總數</td> 
      <td>成功下單</td>
      <td>最後確認前離開</td>
      <td>完成訂單數</td> 
      <td>取消訂單數</td>
      <td>人為處理完成</td>
      <td>新會員</td> 
      <td>運費營業額 S</td>
      <td>產品營業額 T</td>
      <td>營業額 S+T </td>
      <%# unless @yesterday_report.total_order_count == 0 %>
        <td>成功下單%</td>
        <td>跳出%</td>
      <%# end %>
    </tr>
    <%= render partial: 'tr_of_each_report', collection: @daily_reports, as: :report %>
  </table>
  <%= paginate @daily_reports ,:window => 2 %>
<% end %>