<link rel="stylesheet" href="/css/pageLogin.css">

  <div class="xlg-margin"></div>
  
  <div id="lookbook">
    <div class="container">
      <header class="content-title">
        <div class="title-bg">
          <h2 class="title login">LOGIN<span>會員登入</span></h2>
        </div>
      </header>
      <div class="layout member">
       <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { id: "login-form" } ) do |f| %>
         <p>請輸入您的信箱與密碼<br>If you have an account with us, please log in.</p>
          <div class="input-group input-container contact-email">
            <span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">電子信箱</span></span>
            <%= f.email_field :email, :autofocus => true, placeholder: "Email" ,class: 'form-control input-lg', required: true %>
          </div>
          <div class="input-group input-container contact-password">
            <span class="input-group-addon"><span class="input-icon input-icon-password"></span><span class="input-text">密碼</span></span>
            <%= f.password_field :password, placeholder: "password", class: "form-control input-lg", required: true %>
          </div>        
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            
              
               <%= link_to new_password_path(resource_name) do %>
                忘記密碼?<span>Forgotten your password?</span>
               <% end %>
              
                        
          <% end -%>
          <p class="text-right">
            <%= f.submit "登入 LOGIN", class: 'btn btn-custom-3' , data: {disable_with: "..."} %>

            <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
              <%= link_to "加入會員 JOIN", new_registration_path(resource_name), class: "btn btn-custom-2" %>
            <% end -%>    
          </p>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="xlg-margin"></div>