<tr class="list-view" id="show_order_<%= order.id %>" style="display: none;" >
  <td colspan="7">
    <div class="form">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">                    
        <tr>
          <th width="4%" align="left" valign="top">&nbsp;</th>
          <th width="61%" align="left" valign="top">明細</th>
          <th width="9%" align="center" valign="top">數量</th>
          <th width="12%" align="center" valign="top">單價</th>
          <th width="14%" align="center" valign="top">小計</th>
        </tr>

        <% order.orderitems.each_with_index do |item, index| %>
          <tr>
            <td align="left"><%= index + 1%></td>
            <td align="left"><%= "#{ item.item_name }（#{ item.item_stockname }）" %></td>
            <td align="center"><%= item.amount %></td>
            <td align="center"><%= item.item_price %></td>
            <td align="center"><%= item.item_price * item.amount %></td>
          </tr>
        <% end %>

        <tr class="total">
          <td colspan="3">
            
            <% if !@order.order_memo.nil? && !@order.order_memo.empty?  %>
            附註:<br>  
              <% JSON.parse_if_json(@order.order_memo).each do | attr | %>
          
                  <% order.orderitems.each do |item| %>
                   
                    <% if attr[1]["stock_id"] ==  item.product_stock_id && attr[1]["needgrind"] == "true" %>
                
                        <%= attr[1]["amount"] %>包
                        <%# item.item_name %>
                        <%= "不" unless attr[1]["needgrind"] == "true" %>需要研磨
                        <%= attr[1]["grindlevel"] if attr[1]["needgrind"] == "true" %>
                      <br>  
                    <% end %>
                   
                  <% end %>
                
              <% end %>
            <% end %>
            
          </td>
          <td align="right">小計： </td>
          <td align="center"><%= @sum = sum_order_items(order.orderitems) %><%# orders_helper %></td>
        </tr>
        <tr>
          <td colspan="3" align="left">&nbsp;</td>
          <td align="right">運費： </td>
          <td align="center"><%= @shipping_fee = get_shipping_fee_from_order(order)  %><%# orders_helper %></td>
        </tr>
        <tr>
          <td colspan="3" align="left">&nbsp;</td>
          <td align="right">總結： </td>
          <td align="center"><%= @sum + @shipping_fee %><%# orders_helper %></td>
        </tr>
      </table>

      <%= link_to detail_admin_order_path(order) , target: "_blank", class: "enter" do %>
        <img src="/images/admin/right.png">
      <% end %>
    </div>
  </td>
</tr>
    