<script src="/js_plugins/colorbox/jquery.colorbox-min.js"></script>
<link rel="stylesheet" type="text/css" href="/js_plugins/colorbox/colorbox.css" />    
<style>
div ,td, p .noTransition {
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
}
</style>
<script>
  $(document).ready(function(){
    
    $(".iframe").colorbox({
      iframe:true, width:"483", height:"320",
      onClosed:function(){ parent.location.reload(); }
    });

  });
</script>

<header>
  <h2 class="left">訂單管理</h2>
  <nav class="left">
    <%= link_to "待付款", pending_admin_orders_path()  %>
    <%= link_to "需處理", admin_orders_path()%>
    <%= link_to "已出貨", shipped_admin_orders_path()%>    
    <%= link_to "人為處理", human_involved_admin_orders_path()%>
    <%= link_to "歷史訂單", history_admin_orders_path(), class: 'active' %>
  </nav>
</header>
<article>
      <div class='search'>
       <%# %>
       <%= search_form_for @q, url: history_admin_orders_path, method: :post  do |f| %>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="15%" style="padding:0 5px">
              訂單編號：
            </td>
            <td width="35%">
              <%= f.search_field :ordernum_cont, class: 'text' %>
            </td>
            <td width="15%" style="padding:0 5px">
              Email：
            </td>
            <td width="35%" align="center">
              <%= f.search_field :user_email_start, class: 'text' %>
            </td>
          </tr>
          <tr>
            <td width="15%" style="padding:0 5px">
              付款方式：
            </td>
            <td width="35%">
              <%= f.select :payment_type_eq, options_for_select([['-- 請選擇 --',nil],['ATM','atm_transfer'], ['信用卡', 'credit_card'], ['貨到付款','COD'], ['虛擬帳號','Vaccount']], nil), class: 'form-control' %>
            </td>
            <td width="15%" style="padding:0 5px">
              狀態：
            </td>
            <td width="35%" align="center">
              <%= f.select :payment_status_eq, options_for_select([['-- 請選擇 --',nil],['交易完成','finished'],['交易結束','abnormal_end'], ['取消訂單', 'cancel'], ['交易失敗','failed']], nil ) , class: 'form-control' %>
            </td>
          </tr>
          <tr>
            <td width="15%" style="padding:0 5px">
              收款狀態：
            </td>
            <td width="35%">
              <%= f.select :paid_eq, options_for_select([['-- 請選擇 --',nil],['已付款','yes'],['未付款','no']], nil ) , class: 'form-control' %>
            </td>
            <td width="15%" style="padding:0 5px">
              出貨狀態：
            </td>
            <td width="35%" align="center">
              <%= f.select :shipped_eq, options_for_select([['-- 請選擇 --',nil],['已出貨','yes'],['未出貨','no']], nil ) , class: 'form-control' %>
            </td>
          </tr>
          <tr>
            <td width="15%" style="padding:0 5px">
              期間：
            </td>
            <td width="35%">
              <%= f.select :created_at_gteq, options_for_select([['-- 請選擇 --',nil],['1週',1.week.ago], ['1個月', 1.month.ago], ['1年',1.year.ago]], nil) %>
            </td>
            <td width="15%" style="padding:0 5px">
              
            </td>
            <td width="35%" align="center">
              <%= f.submit('搜尋') %>
            </td>
          </tr>
        </table>
       <% end %>
       <%# %>
      </div>
  <div class="list">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th width="5%" align="center" class="icon"></th>
        <th width="12%" align="center"><%= sort_link @q , :payment_type, "付款方式" %></th>
        <th width="21%" align="left"><%= sort_link @q, :created_at, "訂單成立時間" %></th>
        <th width="16%" align="left"><%= sort_link @q, :ordernum, "編號" %></th>
        <th width="5%" align="center"><a href="javascript:void(0);">收款</a></th>
        <th width="5%" align="center"><a href="javascript:void(0);">出貨</a></th>
        <th width="30%" align="right"><a href="javascript:void(0);">狀態</a></th>
      </tr>

      <% @orders.each do |order| %>
        <tr id="order_<%= order.id %>">
          <td class="icon"></td>
          <td align="center"><%= order.get_payment_type %></td>
          <td><span class="time"><%= order.created_at.strftime("%Y-%m-%d %H:%M") %></span></td>
          <td><%= link_to order.ordernum, admin_order_path(order), :class => "show_order close", :remote => true, :data => { order_id: order.id } %></td>
          <td align="center"><%= is_order_paid(order) %></td>
          <td align="center"><%= is_order_delivered(order) %></td>
          <td align="right"><%= order.get_payment_status %></td>
        </tr>
      <% end %>

    </table>
  </div>
  <div class= "page">
    <%= paginate @orders ,:window => 2 %>
  </div>
</article>

<script type="text/javascript">
$(".show_order").click(function(){
  var $show_order = $("#show_order_" + $(this).data("order-id"))
  if( $show_order.length > 0 ){
    $show_order.stop().toggle();
    return false
  }
  else{
    return true;
  }
});
$(function() {
  $( "#search-accordion" ).accordion({
    collapsible: true,
    active: false
  });
});
</script>