    <header>
      <h2 class="left">topic<span> / 首頁管理</span></h2>
      <nav class="left">
        <%= link_to 'Basic', edit_admin_topic_path(@topic) %>
        <%= link_to 'Banner', admin_topic_photo_path(@topic) %>
      </nav>
      <div class="explain right"><p>圖片尺寸：</p></div>
    </header>
    <article>
      <div class="form">
        <%= form_for(@topic, :url => admin_topic_upload_photo_path(@topic), html: { id: "patchthistopic" , :multipart => true } ) do |f| %>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="7%">topic名稱：</td>
              <td width="31%">
               <%= @topic.name %>
               <%= f.hidden_field :name %>
              </td>
              <td width="2%">&nbsp;</td>
              <td width="7%">&nbsp;</td>
              <td width="53%">
                <% if @gallery_count > 0 %>
                  <%= render 'admin/common/show_by_type', target: @topic, target_title: '圖', type: 'TopicBannerGallery', allow_dragable: false %>
                <% else %>
                  列表頁 Banner <%= render 'admin/common/upload_by_type', target_title: '圖' %>
                <% end %>
              </td>
            </tr>
          </table>
        <% end %>
      </div>

      <div class="button">
        <%= link_to image_tag("/images/admin/left.png")+"返回", admin_topics_path(), class: "left" %>
        <a href="javascript: document.getElementById('patchthistopic').submit();" id="sendtheform" class="right highlight" data-no-turbolink = true >變更
          <img src="<%= image_path("/images/admin/up.png") %>">
        </a>
      </div>

    </article> 