    <header>
      <h2 class="left">基本主題</h2>
      <nav class="left">
        <%= link_to '商品', edit_admin_topic_path(@topic) %>
        <%= link_to '列表頁圖片', admin_topic_photo_path(@topic), class: 'active' %>
      </nav>
      <div class="explain right"><p>圖片尺寸：900px * 500px</p></div>
    </header>
    <article>
      <div class="hgroup">
        <h3 class="left"><span>主題列表 / </span><%= @topic.name %></h3>
      </div>
      <div class="form">
        <%= form_for(@topic, :url => admin_topic_upload_photo_path(@topic), html: { id: "patchthistopic" , :multipart => true } ) do |f| %>
          
          <% if @gallery_count > 0 %>
                  <%= render 'admin/common/show_by_type', target: @topic, target_title: '封面', type: 'TopicBannerGallery', allow_dragable: false %>
                <% else %>
                  <%= render 'admin/common/upload_by_type', target_title: '封面' %>
                <% end %>
              <%= f.hidden_field :name %>          
        <% end %>
      </div>
      <% if @gallery_count < 1 %>
      <div class="button">
        <a href="javascript: document.getElementById('patchthistopic').submit();" id="sendtheform" class="right highlight" data-no-turbolink = true >上傳
          <img src="<%= image_path("/images/admin/up.png") %>">
        </a>
        </div>
        <% end %>

    </article> 