<link rel="stylesheet" href="/css/pageAbout.css">

<% content_for :meta_area do %>
  <meta property="og:title" content="LadyBoo -女性時尚">
  <meta property="og:image" content="<%= image_url('/images/fb-kv.jpg') %>">
<% end %>

<% content_for :breadcrumb do %>
  <%= link_to 'Home', root_path, title: '首頁' %> &nbsp; > &nbsp; ABOUT US
<% end %>

<div class="xlg-margin"></div><!-- Space 間隔 -->

<div class="container">
  <header class="content-title"><!-- Start .content-title 標題 -->
    <div class="title-bg">
      <h2 class="title about">ABOUT US<span>品牌精神</span></h2>
    </div>
  </header><!-- End .content-title -->

  <div class="col-md-10 col-md-offset-1 layout about"><!-- Start 內文 -->
    <div class="img-responsive" id="aboutBanner"></div><!-- #aboutBanner 品牌精神圖 -->
    <p>
      <br>
      Boo，是兩個女生之間的親密暱稱，也是 LadyBoo 品牌誕生的由來，我們希望 LadyBoo 既是服飾品牌，同時也是讓女生開心、放鬆的穿衣間，在這裡，有我們關注的時尚話題與穿搭，也有對流行觀察的私密悄悄話，歡迎妳們隨時走進來，輕鬆挑選，穿出自己獨有的風格。<br>
      <br>
      時尚風格很多種，簡單不失個性的穿著，卻一向是 LadyBoo 最愛，比如說，只要簡單加一點點「蕾絲」，衣服的表情立刻繽紛起來，時尚品牌如專做蕾絲服飾的澳洲品牌Lover、義大利手工蕾絲 La Perla……等，都紛紛採用了新顏色、新設計、新花樣，顛覆過去「蕾絲＝老氣」，或「蕾絲只能性感」的印象，把女生的魅力和不同面貌鈎織出來，微微透露出性感、甜美、陽光、健康及更多可能性，LadyBoo 因為愛上這一半辛辣一半甜的美學，特地把蕾絲融入日常穿著，讓每個女生都能輕易穿搭我們精心設計或挑選的時尚單品。<br>
      <br>
      Hey, pretty Boo！現在就試試看吧，加一點蕾絲，特調妳的性感甜美比例，妳將發現自己不同以往的美，多了新鮮想像，開始讓人著迷。</p>
    </div><!-- End 內文 -->
  </div>

  <div class="xlg-margin"></div><!-- Space 間隔 -->
  <div class="container">
    <div class="xs-margin"></div><!-- Space 間隔 -->
    <div class="row">

      <header class="content-title"><!-- Start .content-title 標題 -->
        <div class="title-bg">
          <h2 class="title news">NEWS<span>最新消息</span></h2>
        </div>
        <div class="readmore-controls">
          <%= link_to 'Read More', announcements_path , title: '更多最新消息', id: 'readMore' %>
        </div>
      </header><!-- End .content-title -->

      <div class="col-md-9 articles-container"><!-- Start 內文 -->         
        
        <% @announcements.each do |announcement| %>
          <article class="article"><!-- Start .article -->
            <div class="article-meta-date"> <span><%= announcement.created_at.strftime("%d")%></span> <%= announcement.created_at.strftime("%b")%> </div>
            <div class="article-meta-year"><%= announcement.created_at.strftime("%Y")%></div>
            <figure class="article-media-container"> 
              <% if announcement.galleries.select{ |v| v['type'] == "AnnouncementCoverGallery" }.first %>
                <% announcement_cover_url = announcement.galleries.select{ |v| v['type'] == "AnnouncementCoverGallery" }.first.attachment.url %>
                  <%= image_tag announcement_cover_url if announcement_cover_url %>
              <% end %>
            </figure>
            <h2><%= announcement.title %></h2>
            <div class="article-content-container">
              <span>
              <% if announcement.ck_context %>
                <%= announcement.ck_context.html_safe %>
              <% end %>
              </span>
            </div>
          </article><!-- End .article -->
        <% end %>
      </div>
        

      <header class="content-title"><!-- Start .content-title 標題 -->
        <div class="title-bg">
          <h2 class="title community">COMMUNITY<span>社群迴響</span></h2>
        </div>
        <div class="readmore-controls">
          <%= link_to 'Read More', announcements_path, title: '更多社群迴響', id: 'readMore' %>
        </div>
      </header><!-- End .content-title -->

      <div class="col-md-9 articles-container"><!-- Start 內文 -->         
       <% @communities.each do |community| %>
          <article class="article"><!-- Start .article -->
            <div class="article-meta-date"> <span><%= community.created_at.strftime("%d")%></span> <%= community.created_at.strftime("%b")%> </div>
            <div class="article-meta-year"><%= community.created_at.strftime("%Y")%></div>
            <figure class="article-media-container"> 
              <% if community.galleries.select{ |v| v['type'] == "CommunityCoverGallery" }.first %>
                <% community_cover_url = community.galleries.select{ |v| v['type'] == "CommunityCoverGallery" }.first.attachment.url %>
                  <%= image_tag community_cover_url if community_cover_url %>
              <% end %>
            </figure>
            <h2><%= community.title %></h2>
            <div class="article-content-container">
              <span>
              <% if community.ck_context %>
                <%= community.ck_context.html_safe %>
              <% end %>
              </span>
            </div>
          </article><!-- End .article -->
        <% end %>
      </div>
      
      </div><!-- End .row --> 
    </div><!-- End .container -->  

