<link rel="stylesheet" href="/css/pageAbout.css">

<% content_for :meta_area do %>
  <meta property="og:title" content="LadyBoo -女性時尚">
  <meta property="og:image" content="<%= image_url('/images/fb-kv.jpg') %>">
<% end %>

<% content_for :breadcrumb do %>
  <%= link_to 'Home', root_path, title: '首頁' %> &nbsp; > &nbsp; WHO WE ARE
<% end %>

<div class="xlg-margin"></div><!-- Space 間隔 -->

<div class="container">
  <header class="content-title"><!-- Start .content-title 標題 -->
    <div class="title-bg">
      <h2 class="title about">WHO WE ARE<span>品牌精神</span></h2>
    </div>
  </header><!-- End .content-title -->

  <div class="col-md-10 col-md-offset-1 layout about"><!-- Start 內文 -->
    <div class="img-responsive" id="aboutBanner"></div><!-- #aboutBanner 品牌精神圖 -->
    <h2>沒有剛剛好的衣櫃，只有剛剛好的自己</h2>
    <p>
      穿衣，是一種認識自己的方式，穿上甜美，就是少女心的自己，穿上個性，就是有主張的自己，常覺得少一件衣服嗎？可能是還沒找到最舒服、自信的自己，忍不住多買一件衣服嗎？或許你相信自己並無極限。
      <br><br>
      LadyBoo 知道「自己」幻化多端，所以我們有原創設計的作品，也有我們親自飛到各國精選的品牌，在多樣化的風格中，LadyBoo 服飾有著共同點：注重材質與剪裁的品質，於是你將驚喜發現，自己竟能如此多變，卻又能美妙的融為一體。<span>（別再管格雷的 50 道陰影了）</span>
      <br><br>
      穿衣，是一種自我的延伸，跟上潮流充滿樂趣，但唯有做自己才能擁有獨一無二的美麗，當你穿上 LadyBoo 出門，你知道你是時尚的主人。
    </p>
    </div><!-- End 內文 -->
  </div>

  <div class="xlg-margin"></div><!-- Space 間隔 -->
  <div class="container">
    <div class="xs-margin"></div><!-- Space 間隔 -->
    <div class="row">

      <header class="content-title"><!-- Start .content-title 標題 -->
        <div class="title-bg">
          <h2 class="title news">NEWS<span>最新消息</span></h2>
        </div>
        <div class="readmore-controls">
          <%= link_to 'Read More', announcements_path , title: '更多最新消息', id: 'readMore' %>
        </div>
      </header><!-- End .content-title -->

      <div class="col-md-9 articles-container"><!-- Start 內文 -->         
        
        <% @announcements.each do |announcement| %>
          <article class="article"><!-- Start .article -->
            <div class="article-meta-date"> <span><%= announcement.created_at.strftime("%d")%></span> <%= announcement.created_at.strftime("%b")%> </div>
            <div class="article-meta-year"><%= announcement.created_at.strftime("%Y")%></div>
            <figure class="article-media-container"> 
              <% if announcement.galleries.select{ |v| v['type'] == "AnnouncementCoverGallery" }.first %>
                <% announcement_cover_url = announcement.galleries.select{ |v| v['type'] == "AnnouncementCoverGallery" }.first.attachment.url %>
                  <%= image_tag announcement_cover_url if announcement_cover_url %>
              <% end %>
            </figure>
            <h2><%= announcement.title %></h2>
            <div class="article-content-container">
              <span>
              <% if announcement.ck_context %>
                <%= announcement.ck_context.html_safe %>
              <% end %>
              </span>
            </div>
          </article><!-- End .article -->
        <% end %>
      </div>
        

      <header class="content-title"><!-- Start .content-title 標題 -->
        <div class="title-bg">
          <h2 class="title community">COMMUNITY<span>社群迴響</span></h2>
        </div>
        <div class="readmore-controls">
          <%= link_to 'Read More', communities_path, title: '更多社群迴響', id: 'readMore' %>
        </div>
      </header><!-- End .content-title -->

      <div class="col-md-9 articles-container"><!-- Start 內文 -->         
       <% @communities.each do |community| %>
          <article class="article"><!-- Start .article -->
            <div class="article-meta-date"> <span><%= community.created_at.strftime("%d")%></span> <%= community.created_at.strftime("%b")%> </div>
            <div class="article-meta-year"><%= community.created_at.strftime("%Y")%></div>
            <figure class="article-media-container"> 
              <% if community.galleries.select{ |v| v['type'] == "CommunityCoverGallery" }.first %>
                <% community_cover_url = community.galleries.select{ |v| v['type'] == "CommunityCoverGallery" }.first.attachment.url %>
                  <%= image_tag community_cover_url if community_cover_url %>
              <% end %>
            </figure>
            <h2><%= community.title %></h2>
            <div class="article-content-container">
              <span>
              <% if community.ck_context %>
                <%= community.ck_context.html_safe %>
              <% end %>
              </span>
            </div>
          </article><!-- End .article -->
        <% end %>
      </div>
      
      </div><!-- End .row --> 
    </div><!-- End .container -->  

