<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8"> <![endif]-->
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>Ladyboo</title>

  <meta property="og:title" content="現在就試試看吧，加一點蕾絲，特調妳的性感甜美比例，妳將發現自己不同以往的美，多了新鮮想像，開始讓人著迷。 - LadyBoo">
  <meta property="og:site_name" content="Ladyboo">
  <meta property="og:description" content="時尚風格很多種，簡單不失個性的穿著，卻一向是 LadyBoo 最愛，比如說，只要簡單加一點點「蕾絲」，衣服的表情立刻繽紛起來，時尚品牌如專做蕾絲服飾的澳洲品牌Lover、義大利手工蕾絲 La Perla……等，都紛紛採用了新顏色、新設計、新花樣，顛覆過去「蕾絲＝老氣」，或「蕾絲只能性感」的印象，把女生的魅力和不同面貌鈎織出來，微微透露出性感、甜美、陽光、健康及更多可能性，LadyBoo 因為愛上這一半辛辣一半甜的美學，特地把蕾絲融入日常穿著，讓每個女生都能輕易穿搭我們精心設計或挑選的時尚單品。">
  
  <meta property="og:image" content="<%= image_url('/images/fb-kv.jpg') %>">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= root_url %>">
  <meta property="fb:app_id" content="380171498811984">
  
  <meta name="description" content="現在就試試看吧，加一點蕾絲，特調妳的性感甜美比例，妳將發現自己不同以往的美，多了新鮮想像，開始讓人著迷。 - LadyBoo">
  

  <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/revslider.css">
  <link rel="stylesheet" href="/css/owl.carousel.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/responsive.css">
  <link rel="stylesheet" href="/css/colorbox.css" />
  
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/index.css">
  
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- Favicon and Apple Icons -->
  <link href='/images/favicon.ico' rel='shortcut icon' />
  <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon">
  <link rel="icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon">

  <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <link rel="stylesheet" href="/css/ie8.css">
  <![endif]-->


   <script>
    window.onload= function() {
    <% if !flash[:notice].nil? %>
     alertify['success']('<%= flash[:notice] %>', 2000);
    <% end %>
    
    <% if !flash[:warning].nil? %>
    alertify['error']("<%= flash[:warning].html_safe %>", 2000); 
    <% end %>
  }
  </script>
  
</head>
<body>
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '380171498811984',
        xfbml      : true,
        version    : 'v2.2'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/zh_TW/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>

  <div id="wrapper">
    <!--Header Start**************************************************************************************************************--> 
    <header id="header">
      <div id="header-top"><!-- Start #header-top上方黑色區塊 -->
        <div class="container">
          <div class="header-top-left">
            <div class="btn-group">
              <% unless user_signed_in? %>
                <%= link_to new_user_session_path, method: 'get', class: "btn btn-custom dropdown-toggle" do  %>
                  <span class="hide-for-xs">會員登入 Login</span><span class="hide-for-lg"><span class="login-menu-icon"></span></span> 
                <% end %>
              <% end %>
              <% if user_signed_in? %>
                <%= link_to destroy_user_session_path, method: 'delete', class: "btn btn-custom dropdown-toggle" ,method: :delete do %>
                  <span class="hide-for-xs">會員登出 Logout</span><span class="hide-for-lg"><span class="logout-menu-icon"></span></span> 
                <% end %>

                <%= link_to useradmin_root_path, class: "btn btn-custom dropdown-toggle" do %>
                  <span class="hide-for-xs"><%= "#{current_user.username} 您好" %></span><span class="hide-for-lg"><span class="login-menu-icon"></span></span> 
                <% end %>

              <% end %>
            </div>
          </div><!-- End .header-top-left -->
          
          <div class="header-top-right"><!-- Start .header-top-right -->
            <div class="dropdown-cart-menu-container pull-right">

              <%= render 'cart/quickview' %>

            </div><!-- End .dropdown-cart-menu-container -->
            <div class="header-top-dropdowns pull-right">
              <% if user_signed_in? %>
                <div class="btn-group">
                  <%= link_to useradmin_tracking_lists_path, class: "btn btn-custom" do %>
                    <span class="hide-for-xs"><span class="love-menu-icon"></span> 我的最愛 Favorites</span><span class="hide-for-lg"><span class="love-menu-icon"></span></span>
                  <% end %>
                </div>
              <% end %>
            </div><!-- End .header-top-dropdowns -->
          </div><!-- End .header-top-right --> 
        </div><!-- End .container -->
      </div><!-- End #header-top -->
   
      
      <div id="inner-header"><!-- Start #inner-header 上方白色區塊 --> 
        <div id="main-nav-container">
          <div class="container">
            <div id="menu-wrapper" class="clearfix">
              <div class="logo-container"><!-- Start .logo-container -->
                <h1 class="logo clearfix"> <span>LadyBoo</span> 
                  <%= link_to root_path, title: "Venedor eCommerce Template" do %>
                    <img src="/images/logo.png" alt="Venedor Commerce Template" width="184" height="60">
                  <% end %>
                </h1>
              </div><!-- End .logo-container -->
              <div id="menu-right-side" class="clerfix">
                <div id="quick-access"><!-- Start #quick-access 搜尋鍵 -->
                  
                  <%= render 'common/search_form' %>
                  
                </div><!-- End #quick-access -->
                <nav id="main-nav"><!-- Start #main-nav 選單區 -->
                  <div id="responsive-nav"><!-- Start #responsive-nav 手機螢幕選單按鈕 -->
                    <div id="responsive-nav-button"><span id="responsive-nav-button-icon"></span></div> 
                  </div><!-- End #responsive-nav -->
                  
                  <ul class="menu clearfix"><!-- Start .menu 選單列 -->
                    
                    <li class="mega-menu-container">
                      <a href="javascript:void(0);">品牌總覽<br>SHOP</a>
                      <div class="mega-menu clearfix"><!-- Start .mega-menu -->
                        <%# @root_node = Category.return_root_node unless @root_node %>
                        <%# @hierarchy = Category.get_level_hierarchy() unless @hierarchy %>
                        <%# levels = @hierarchy.select { |v| v[2] == @root_node.id } %>
                        <% @levels.each do | level1 | %>
                          <div class="col-5">
                            <%= link_to level1[3], category_path(id: level1[0]), class: "mega-menu-title" %><!-- End .mega-menu-title -->
                            <ul class="mega-menu-list clearfix">
                              <% levels = @hierarchy.select { |v| v[2] == level1[0] } %>
                              <% levels.each do | level2 | %>
                                <li>
                                  <%= link_to level2[3], category_path(id: level2[0]) %>
                                </li>
                              <% end %>
                            </ul>
                          </div>
                        <% end %>
                      </div><!-- End .mega-menu -->
                    </li>
                    
                    <li  class="mega-menu-container"> 
                      <a href="javascript:void(0);">主題專輯<br>LOOK BOOK</a>
                      <div class="mega-menu clearfix"><!-- Start .mega-menu -->
                        <%# lookbook = Lookbook.where(status: 'enable').first %>
                        <% if @lookbook && @topics %>
                          <div class="col-5">
                            <div class='mega-menu-title'>穿搭主題</div><!-- End .mega-menu-title -->
                            <ul class="mega-menu-list clearfix">
                              <% @topics.each do | topic | %>
                                <li>
                                  <%= link_to topic.name , lookbook_topic_path(@lookbook,topic) %>
                                </li>
                              <% end %>
                            </ul>
                          </div>
                        <% end %>
                        <%# topic_collections = TopicCollection.where(status: 'enable').all.limit(4) %>
                        <% if @topic_collections %>
                          <div class="col-5">
                            <div class="mega-menu-title">系列主題</div><!-- End .mega-menu-title -->
                            <ul class="mega-menu-list clearfix">
                              <% @topic_collections.each do | collection | %>
                                <li>
                                  <%= link_to collection.name , topic_collection_path(collection) %>
                                </li>
                              <% end %>
                            </ul>
                          </div>
                        <% end %>
                      </div>
                    </li>

                    <li>
                      <%= link_to page_pages_path('size') do %>
                        尺寸說明<br>
                        SIZE
                      <% end %>
                    </li>
                    
                    <li>
                      <%= link_to about_pages_path do %>
                        品牌精神<br>
                        ABOUT US
                      <% end %>
                    </li>
                    
                    <li>
                      <%= link_to contacts_path do %>
                        聯絡客服<br>
                        CONTACT US
                      <% end %>
                    </li>

                  </ul><!-- End .menu -->
                </nav><!-- End #main-nav -->
              </div><!-- End .menu-right-side -->
            </div><!-- End .menu-wrapper -->
          </div><!-- End .container --> 
        </div><!-- End .main-nav-container --> 
      </div><!-- End #inner-header --> 

      
    </header>
    <!--Header End**************************************************************************************************************--> 
    <div class="container bottom"> <div class="bgBottom index"></div></div><!-- .bgBottom 下方背景圖 -->
     <!--Container Start**************************************************************************************************************-->
    <section id="content">
      <% if @banners.count > 0 %>
        <div id="slider-bg"><!-- Start #slider-bg 上方橫福 -->
          <div class="container">
            <div id="slider-rev-container">
              <div id="slider-rev">
                <ul>
                  <% @banners.each do |banner| %>
                    <% if banner.galleries.first %>
                      <li data-transition="flip" data-slotamount="15" data-masterspeed="400">
                        <%# link_to banner.description, target: "_blank" do %>
                        <img id='bannerFrame' src=<%= "#{banner.galleries.first.attachment.url}" %> />
                        <%# end %>
                      </li>
                     <% end %>
                  <% end %>
                </ul><img id="bannerFrame" src="/images/frame_bannerIndex.png">
              </div><!-- End #slider-rev --> 
            </div><!-- End #slider-rev-container --> 
          </div><!--End .container--> 
        </div><!-- End #slider-bg 上方橫福 -->
      <% end %>
      
      <div class="xlg-margin"></div><!-- Space 間隔-->
      
      <% if @topic_collections.count > 0 %>
        <div id="home-banners"><!-- Start #home-banners 系列主題 -->
          <div class="container">
            <div class="row home-banners">
              <% @topic_collections.each do |collection| %>
                <div class="col-md-3 col-sm-3 col-xs-6"> 
                  <% if collection.galleries.select{ |v| v['type'] == 'TopicCoverGallery' }.first %>
                    <%= link_to( image_tag(collection.galleries.select{ |v| v['type'] == 'TopicCoverGallery' }.first.attachment.url, class: 'img-responsive', width: 100, height: 100 ) , topic_collection_path(collection)) %>
                  <% end %>
                </div>
              <% end %>
            </div><!-- End .home-banners --> 
          </div><!--End .container--> 
        </div><!-- End #home-banners 系列主題 -->
      <% end %>
      <div class="xlg-margin"></div><!-- Space 間隔 -->
      <% if @lookbook %>
        <div id="lookbook"><!-- Start #lookbook 主題穿搭 -->
          <div class="container">
            <header class="content-title"><!-- Start .content-title 標題 -->
              <div class="title-bg">
                <h2 class="title lookbook">LOOKBOOK<span>穿搭主題</span></h2>
              </div>
            </header><!-- End .content-title 標題 -->
            
              <% case @lookbook.limit %>
                <% when 1 %>
                  <%= render 'lookbooks/layout_1' %>
                <% when 2 %>
                  <%= render 'lookbooks/layout_2' %>
                <% when 3 %>
                  <%= render 'lookbooks/layout_3' %>
                <% when 4 %>
                  <%= render 'lookbooks/layout_4' %>
                <% else %>
              <% end %>
        
          </div>
        </div><!-- End #lookbook 主題穿搭 -->
      <% end %>
  
      <div class="xlg-margin"></div><!-- Space 間隔 -->
      
      <% if @pickups.count > 0 %>
        <div id="pickup"><!-- Start #pickup 明星商品 -->
          <section id="favoritesBg">
              <div class="container">
                <div class="bgFav"></div><!-- .bgFav 粉紅色背景 -->
              </div>
          </section>
          <div class="container">
            <div class="hot-items carousel-wrapper">
              <header class="content-title"><!-- Start .content-title 標題 -->
                <div class="title-bg">
                  <h2 class="title pickup">PICK UP<span>明星商品</span></h2>
                </div>
              </header><!-- End .content-title 標題 -->
              
              <div class="carousel-controls"><!-- Start .carousel-controls 上下頁按鈕 -->
                <div id="hot-items-slider-prev" class="carousel-btn carousel-btn-prev"> </div>
                <div id="hot-items-slider-next" class="carousel-btn carousel-btn-next carousel-space"> </div>
              </div><!-- End .carousel-controls 上下頁按鈕 -->
              
              <div class="hot-items-slider owl-carousel"><!-- Start .hot-items-slider 明星商品 -->

                <% @pickups.each do |pickup| %>
                  <div class="item"><!-- Start .item 商品 --> 
                    <div class="item-image-container">
                      <figure> 
                        <%= link_to category_product_path(pickup.product.category, pickup.product), title: pickup.product.name do %>
                          <%= image_tag(pickup.product.galleries.select{ |v| v['type'] == 'ProductCoverGallery' }.first.attachment.url, class: "img-responsive") unless pickup.product.galleries.select{ |v| v['type'] == 'ProductCoverGallery' }.first.nil? %>
                        <% end %>
                      </figure>
                      <% if pickup.product.highlight.present? %>
                      <div class="item-price-container"> <span class="item-price"><%= pickup.product.highlight%></span></div><!-- .item-price 粉紅標示 -->
                      <% end %>
                      <% if pickup.product.is_new? %>
                        <span class="new-rect">NEW</span><!-- .new-rect 新貨標示 -->  
                      <% end %>
                    </div>
                    <div class="item-meta-container"><!-- Start .item-meta-container 商品文字說明 --> 
                      <h3 class="item-name">
                        <%= link_to category_product_path(pickup.product.category, pickup.product), title: pickup.product.name+"    "+pickup.product.en_name do %>
                          <%= pickup.product.name %><br><%= pickup.product.en_name %>
                        <% end %>
                      </h3>
                      <span class="item-price-original">NT$  <%= number_with_delimiter(pickup.product.price) %></span> <span class="item-price-sale">NT$ <%= number_with_delimiter(pickup.product.price_for_sale) %></span>
                      <div class="item-action"> 
                        <% if current_user %>
                          <%= form_for(@tracking_list,:url => useradmin_tracking_lists_path(@tracking_list), :html => {:id =>'NewTrackingListForm' } ) do | f |%>
                            <%= f.hidden_field :user_id, value: current_user.id , class: 'text' %>
                            <%= f.hidden_field :product_id, value: pickup.product.id, class: 'text' %>
                            <%= f.submit "Favorite", class: "icon-button icon-like",title: 'Favorite'  %>
                            <a class='inline icon-button icon-compare pdquickview' data-pd='<%= pickup.product.id %>' title="Quick View" ></a> 
                          <% end %>
                          <%# <a href="javascript: document.getElementById('NewTrackingListForm').submit();" class="icon-button icon-like" data-no-turbolink = true ></a> %>
                        <% else %>
                          <%= link_to '', useradmin_tracking_lists_path, class: "icon-button icon-like",title: 'Favorite' %>
                          <a class='inline icon-button icon-compare pdquickview' data-pd='<%= pickup.product.id %>' title="Quick View" ></a> 
                        <% end %>
                        
                      </div>
                    </div><!-- End .item-meta-container 商品文字說明 --> 
                  </div><!-- End .item 商品 -->
                <% end %>
              </div><!-- End .hot-items-slider 明星商品Slider SHOW -->

            </div><!-- End .hot-items --> 
          </div><!-- End .container --> 
        </div><!-- End #pickup 明星商品 -->
      <% end %>
    </section>
    <!--Container End**************************************************************************************************************--> 

  <!--Footer Start**************************************************************************************************************-->
  <%= render 'layouts/front_shared_footer' %>
  <!--Footer End**************************************************************************************************************--> 
  </div>
  
  <%# render 'layouts/index_header' %>
  <%# render 'layouts/front_shared_footer' %>
  
  <%# link_to '帳戶', useradmin_orders_path if user_signed_in? %>
  <%# link_to '註冊', new_user_registration_path unless user_signed_in? %>

<script src="/js/bootstrap.min.js"></script> 
<script src="/js/jquery.flexslider-min.js"></script> 
<script src="/js/owl.carousel.min.js"></script> 
<script src="/js/jquery.themepunch.plugins.min.js"></script> 
<script src="/js/jquery.themepunch.revolution.min.js"></script> 
<script src="/js/jquery.colorbox.js"></script> 
<script src="/js/jquery.bxslider.min.js"></script> 
<script src="/js/main.js"></script> 

  <!--LightBox Start**************************************************************************************************************-->
<div id="lightBox">
  <div id="inline_content">

  </div>
</div>
<!--LightBox End**************************************************************************************************************-->

<script type="text/javascript">
$(function() {
  // Slider Revolution
  jQuery('#slider-rev').revolution({
    delay:8000,
    startwidth:1172,
    startheight:600,
    onHoverStop:"true",
    hideThumbs:250,
    navigationHAlign:"center",
    navigationVAlign:"bottom",
    navigationHOffset:0,
    navigationVOffset:12,
    soloArrowLeftHalign:"left",
    soloArrowLeftValign:"center",
    soloArrowLeftHOffset:0,
    soloArrowLeftVOffset:0,
    soloArrowRightHalign:"right",
    soloArrowRightValign:"center",
    soloArrowRightHOffset:0,
    soloArrowRightVOffset:0,
    touchenabled:"on",
    stopAtSlide:-1,
    stopAfterLoops:-1,
    dottedOverlay:"none",
    fullWidth:"on",
    shadow:0         
    });

  //lightBox
  $(".layout img").click(function(){
    $(this).siblings(".link").animate({bottom:0},250)
  })

  
});          

</script>

<script src="/js_plugins/main.js"></script> 

</body>

</html>