<header>
  <h2 class="left">商品管理</h2>
  <nav class="left">
    <%= link_to "簡介", edit_admin_category_product_path(@product.category, @product) %>
    <%= link_to "照片", admin_category_product_photo_path(@product.category, @product) %>
    <%= link_to "尺寸", admin_category_product_measurements_path(@product.category, @product) %>
    <%= link_to "內容", admin_category_product_free_paragraph_path(@product.category, @product) %>
    <%= link_to "庫存", admin_category_product_stocks_path(@product.category, @product) , class: "active" %>
  </nav>
</header>

<article>
  <div class="hgroup">
    <div class="button right">
      <a href="javascript:void(0);" class="right highlight toggle_new_stock">新增庫存<img src="/images/admin/add.png"></a>
    </div>
  </div>  


    <div class="list">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">        
          <tr>
            <th width="7%">&nbsp;</th>
            <th width="15%" align="left">尺寸</th>
            <th width="15%" align="left">顏色</th>
            <th width="45%" align="left">數量</th>
            <th width="18%">&nbsp;</th>
          </tr>
          <% @stocks.each do |stock| %>
            <% if stock.amount == 0 %>
              <tr class="off">
              <td class="icon"><img src="/images/admin/alert.png"></td>
            <% else %>
              <tr>
              <td class="icon">&nbsp;</td>
            <% end %>
            <td><%#= stock.name %><%= stock.description_1 %></td>
            <td><%= stock.description_2 %></td>
            <td><%#= stock.assign_amount? %><%= show_stock_amount(stock) %></td>
            <td align="right">
              <div class="tool">
              <%= link_to "", "javascript:void(0);", :data => { :id => stock.id }, :class => "edit" %>
              <% if @stocks.count > 1 %>
              <%= link_to "", "stocks/#{stock.id}", :data => { :confirm => "將會刪除庫存，確定繼續？" }, :method => :delete, :class => "delete" %>
              <% end %>
              </div>
            </td>
          </tr>


        
        <%# edit %>        
        <tr class="edit_stock_<%= stock.id %> list-edit" style="display:none;">
          <%= form_for(stock, :url => "stocks/#{stock.id}" ) do |f| %>     
          <td class="icon"></td>     
          <td>
            <%= f.text_field :description_1 ,class: 'text' %>
          </td>
          <td>
            <%= f.text_field :description_2 ,class: 'text' %>
          </td>
          <td>
          <%= f.text_field :amount, :placeholder => "庫存量", class: 'text' , style:'width:30%' %>
            <%= f.check_box :assign_amount, :id => "stock_assign_amount_#{stock.id}" %><%= f.label "assign_amount_#{stock.id}", "指定庫存量" %>
          </td>
          <td align="right">
            <div class="tool">
              <a href="javascript: document.getElementById('edit_stock_<%= stock.id%>').submit();" class="uvs" data-no-turbolink = true >儲存</a>
              <%= link_to("取消", "javascript:void(0);", :class => "uvs cancel_edit_stock" , :data => { :id => stock.id } )%>
            </div>
          </td>
          <% end %>
        </tr>
        <%# edit end %>
        <% end %> <%# each loop end %>
        
        <%# new %>
        <tr class="list-new edit_stock list-edit" style="display:none;">
          <%= form_for(@stock, :url => "stocks") do |f| %>   
          <td class="icon"></td>       
          <td>
            <%= f.text_field :description_1 ,class: 'text new_stock_description_1_input', placeholder: 'size' %>
          </td>
          <td>
            <%= f.text_field :description_2 ,class: 'text new_stock_description_2_input', placeholder: 'color' %>
          </td>
          <td>            
            <%= f.text_field :amount, :placeholder => "庫存量" , class: 'text' , style:'width:30%' %>
            <%= f.check_box :assign_amount %><%= f.label :assign_amount, "指定庫存量" %>
          </td>
          <td align="right">
            <div class="tool">
              <%= f.submit "儲存", class: 'uvs' %>
              <%= link_to "取消", "javascript:void(0);", class: "cancel_new_stock uvs" %>
            </div>
          </td>
          <% end %>
          <%# new end %>
        </tr>

      </table>
    </div><!--form-->
    <div class="button"> 
      <%= link_to admin_category_path(@product.category) , class: 'left' do %>
        <img src="/images/admin/left.png">返回
      <% end %>
    </div>
</article>


<script type="text/javascript">
$(document).ready(function(){
  $(".toggle_new_stock").click(function(){
    if($("tr[class*=edit_stock]:visible").length > 0){
      alert("請先完成編輯中的產品庫存");
    }
    else{
      $(".list-new").toggle();
    }
  });

  $(".edit").click(function(){
    $active_id = $(this).data("id");
    if($("tr[class*=edit_stock]:visible").length > 0){
      alert("請先完成編輯中的產品庫存");
    }
    else{
      toggle_edit_area($active_id);
    }
  });

  $(".cancel_edit_stock").click(function(){
    $active_id = $(this).data("id");
    toggle_edit_area($active_id);
  });

  $(".cancel_new_stock").click(function(){
      $(".new_stock_description_1_input").val(''); //clear input
      $(".new_stock_description_2_input").val(''); //clear input
      $(".list-new").toggle();
  });

  function toggle_edit_area(active_id){
    $("tr.edit_stock_" + active_id).toggle();
    $("tr.show_stock_" + active_id).toggle();
  }
});
</script>