<header>
  <h2 class="left">商品管理</h2>
  <nav class="left">
    <%= link_to "簡介", edit_admin_category_product_path(@product.category, @product) %>
    <%= link_to "照片", admin_category_product_photo_path(@product.category, @product) %>
    <%= link_to "尺寸", admin_category_product_measurements_path(@product.category, @product) %>
    <%= link_to "庫存", admin_category_product_stocks_path(@product.category, @product) , class: "active" %>
    <%= link_to "內容", admin_category_product_free_paragraph_path(@product.category, @product) %>
  </nav>
</header>

<article>
  <div class="hgroup">
    <h3 class="left">分類列表</h3>
    <div class="button right">
      <a href="javascript:void(0);" class="right highlight toggle_new_stock">新增庫存<img src="/images/admin/add_folder.png"></a>
    </div>
  </div>       

    <div class="list">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <% @stocks.each do |stock| %>
      
        <tr class="show_stock_<%= stock.id %>">
          <td width="6%" valign="top">&nbsp;</td>
          <td width="70%">
            <%= stock.name %><%= show_stock_amount(stock) %> /追蹤：<%= stock.assign_amount? %><%# stocks_helper %>
          </td>
          <td width="18%" align="right">
            <div class="tool">
              <%= link_to "", "javascript:void(0);", :data => { :id => stock.id }, :class => "edit" %>
              <%= link_to "", "stocks/#{stock.id}", :data => { :confirm => "將會刪除庫存，確定繼續？" }, :method => :delete, :class => "delete" %>
            </div>
          </td>
        </tr>
        
        <%# edit %>
        <tr class="edit_stock_<%= stock.id %> list-edit" style="display:none;">
          <%= form_for(stock, :url => "stocks/#{stock.id}" ) do |f| %>
          <td width="6%" valign="top">&nbsp;</td>
          <td width="20%">
            <%= f.text_field :description_1 ,class: 'text' %>
          </td>
          <td width="20%">
            <%= f.text_field :description_2 ,class: 'text' %>
          </td>
          <td width="10%">
            <%= f.check_box :assign_amount, :id => "stock_assign_amount_#{stock.id}" %><%= f.label "assign_amount_#{stock.id}", "是否指定庫存量？" %>
          </td>
          <td width="10%">
            <%= f.text_field :amount, :placeholder => "庫存量", class: 'text' %>
          </td>
          <td width="18%" align="right">
            <div class="tool">
              <a href="javascript: document.getElementById('edit_stock_<%= stock.id%>').submit();" class="uvs" data-no-turbolink = true >儲存</a>
              <%= link_to("取消", "javascript:void(0);", :class => "uvs cancel_edit_stock" , :data => { :id => stock.id } )%>
            </div>
          </td>
          <% end %>
        </tr>
        <%# edit end %>
        <% end %> <%# each loop end %>
        
        <%# new %>
        <tr class="list-new edit_stock" style="display:none;">
          <%= form_for(@stock, :url => "stocks") do |f| %>
          
          <td width="6%" valign="top">&nbsp;</td>
          <td width="20%">
            <%= f.text_field :description_1 ,class: 'text new_stock_description_1_input', placeholder: 'size' %>
          </td>
          <td width="20%">
            <%= f.text_field :description_2 ,class: 'text new_stock_description_2_input', placeholder: 'color' %>
          </td>
          <td width="10%">
          </td>
          <td width="10%">
            <%= f.check_box :assign_amount %><%= f.label :assign_amount, "是否指定庫存量？" %>
            <%= f.text_field :amount, :placeholder => "庫存量" %>
          </td>
          <td width="18%"  align="right">
            <div class="tool">
              <%= f.submit "儲存" %>
              <%= link_to "取消", "javascript:void(0);", class: "cancel_new_stock" %>
            </div>
          </td>
          <% end %>
          <%# new end %>
        </tr>

      </table>
    </div><!--form-->

</article>


<script type="text/javascript">
$(document).ready(function(){
  $(".toggle_new_stock").click(function(){
    if($("tr[class*=edit_stock]:visible").length > 0){
      alert("請先完成編輯中的產品庫存");
    }
    else{
      $(".list-new").toggle();
    }
  });

  $(".edit").click(function(){
    $active_id = $(this).data("id");
    if($("tr[class*=edit_stock]:visible").length > 0){
      alert("請先完成編輯中的產品庫存");
    }
    else{
      toggle_edit_area($active_id);
    }
  });

  $(".cancel_edit_stock").click(function(){
    $active_id = $(this).data("id");
    toggle_edit_area($active_id);
  });

  $(".cancel_new_stock").click(function(){
      $(".new_stock_description_1_input").val(''); //clear input
      $(".new_stock_description_2_input").val(''); //clear input
      $(".list-new").toggle();
  });

  function toggle_edit_area(active_id){
    $("tr.edit_stock_" + active_id).toggle();
    $("tr.show_stock_" + active_id).toggle();
  }
});
</script>