<header>
  <h2 class="left">社群迴響</h2>
  <nav class="left"></nav>
</header>
<article>
  <div class="button">
    <%# link_to admin_communities_path(type: "PeditorCommunity"), :method => :post , class:"right highlight" do %>
      <!-- Peditor<img src="/images/admin/add.png"> -->
    <%# end %>
    <%= link_to admin_communities_path(type: "CustomizedCommunity"), :method => :post , class:"right highlight" do %>
      新增文章<img src="/images/admin/add.png">
    <% end %>
  </div>
  <div class="list">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <% @communities.each do |community| %>
        <tr <%= "class=off" if community.status == "disable" %> >
          <td width="5%" class="icon">
            <%= is_set_top(community.ranking) %>
          </td>
          <td width="65%">
            <%= list_edit_lnk(community.title, community) %>
          </td>
          <td width="15%" align="right"><%= community.created_at.strftime("%Y年%m月%d日")%></td>
          <td width="12%">
            <div class="tool">
              <%# list_edit_btn(community) %><%= link_to("", admin_community_path(community), :method => :delete, :data => {:confirm => "確定刪除？"}, class: "delete") %>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class= "page">
    <%= paginate @communities ,:window => 2 %>
  </div>
</article>