<header>
  <h2 class="left">商品管理</h2>
  <nav class="left"></nav>
</header>
<article>

  <% if @category.depth <= 1 %>

    <div class="hgroup">
      <h3 class="left">
        <% @breadcrumb.each_with_index do | bread, index | %>
          <%= bread.name if index == 0 %>
            <% if index >= 1  %>
              <span>/ <%= bread.name %></span>
              <!-- link_to  ancestor.name,  admin_hqlevel_path(ancestor.id, :locale => I18n.locale) -->
            <% end %>
            <% if index == (@breadcrumb.count - 1 ) %>
              <!-- <span>/分類列表</span> -->
            <% end %>
        <% end %>
      </h3>
      <div class="button right">
        <a href="javascript:void(0);" class="right highlight toggle_new_category">新增分類<img src="/images/admin/add_folder.png"></a>
      </div>
    </div>
    <div class="list">
    
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        
        <% @categories.each do |category| %>

          
          <tr class="show_category_<%= category.id %>" >
            <td width="6%" style="background:url(/images/admin/folder.png) center center no-repeat"></td>
            <td width="76%">
              <%= link_to(category.name, admin_category_path(category)) %>
            </td>
            <td width="18%">
              <div class="tool">
                <%= link_to "", "javascript:void(0);", :data => { :id => category.id }, :class => "edit", title:"編輯" %>
                <%= link_to "", admin_category_path(category), :data => { :confirm => "將會刪除分類底下所有商品，確定繼續？" }, :method => :delete, :class => "delete", title: "刪除" %>
              </div>
            </td>
          </tr>

          
          
          <tr class="list-edit edit_category_<%= category.id %>" style="display:none;">
            <%= form_for(category, :url => admin_category_path(category) , html: { id: "patchthiscate_#{category.id}"}) do |f| %>
            
            <td width="6%" style="background:url(/images/admin/folder.png) center center no-repeat"></td>
            <td width="76%">
              <div style="position:relative">
                <%= f.text_field :name, class:"text", placeholder: "分類名稱" %>
              </div>
            </td>
            
            <td align="right" valign="top" width="18%">
              <div class="tool">
                <a href="javascript: document.getElementById('patchthiscate_<%= category.id %>').submit();" class="uvs" data-no-turbolink = true >儲存</a><%= link_to "取消", "javascript:void(0);" ,:data => { :id => category.id }, :class => "uvs" %>
              </div>
            </td>
            <% end %>
          </tr>

        <% end %>

      <!-- new -->
        <tr class="list-new list-edit edit_category" style="display:none;">
          <%= form_for(@new_cate, :url => admin_categories_path , html: {id: "create_new_cate" }) do |f| %>
            <td width="6%" style="background:url(/images/admin/folder.png) center center no-repeat"></td>
            <td width="76%">
              
                <%= f.text_field :name, :placeholder => "分類名稱" , class: "text new_cate_name_input" %>

                <%= f.hidden_field :parent_id, value: "#{@category.id}" %>
                <%= f.hidden_field :depth, value: "#{@category.depth + 1}" %>
              
            </td>
            <td width="18%" align="right">
              <div class="tool">
                <a href="javascript: document.getElementById('create_new_cate').submit();" class="uvs" data-no-turbolink = true >儲存</a><%= link_to("取消", "javascript:void(0);", :class => "uvs cancel_new_category") %>
              </div>
            </td>
          <% end %>
        </tr>

      </table>
    </div>

    <div class="button">
      <a href="<%= admin_categories_path %>" class="left">
        <img src="/images/admin/left.png">返回
      </a>
    </div>

  <% else %> <%# show depth >= 2  categories %>

    <div class="hgroup">
      <h3 class="left">
        <% @breadcrumb.each_with_index do | bread, index | %>
          <%= bread.name if index == 0 %>

          <% if index >= 1  %>
            <span>/ <%= bread.name %></span>
            <!-- link_to  ancestor.name,  admin_hqlevel_path(ancestor.id, :locale => I18n.locale) -->
          <% end %>

          <% if index == (@breadcrumb.count - 1 ) %>
            <!-- <span>/分類列表</span> -->
          <% end %>
        <% end %>
      </h3>
      <div class="button right">
        <%= link_to  admin_category_products_path(@category), :method => :post, class: "right highlight toggle_new_category" do %>
          新增產品<img src="/images/admin/add_file.png">
        <% end %>
      </div>
    </div>
    <div class="list">      
      <table id='dragable_container' width="100%" border="0" cellspacing="0" cellpadding="0">
        <% @category.products.each do |product| %>
          
          <tr <%= "id=Productcontainer_#{product.id.to_s}" %> class='dragable <%= "off" if product.status == "disable" %>' >
            <td width="6%">
              <% if product.status == "disable" %>
                <img src="/images/admin/alert.png">
              <% end %>              
            </td>
            <td width="76%">
              <%= link_to(product.name, edit_admin_category_product_path(@category, product)) %>
            </td>
            <td width="18%">
              <div class="tool">
                <%#toto= link_to(get_change_status_name(product),change_status_admin_category_product_path(@category, product), :method => :post) %>
                <% if product.status == "disable" %>
                  <%= link_to("",change_status_admin_category_product_path(@category, product), class: 'show', :method => :post) %>
                <% else %>
                <%= link_to("",change_status_admin_category_product_path(@category, product), class: 'hide', :method => :post) %>
                <% end %>                
                <%= link_to("", edit_admin_category_product_path(@category, product), class: 'edit') %>
                <%= link_to("", admin_category_product_path(@category, product), :method => :delete, :data => {:confirm => "確定刪除？"}, class: 'delete') %>
              </div>
            </td>
          </tr>
          
        <% end %>
      </table>

    </div>
    <div class="button">
      <a href="<%= admin_category_path(@category.parent_id) %>" class="left">
        <img src="/images/admin/left.png">返回
      </a>
    </div>

  <% end %>
    
  </div>
  
</article>

<script type="text/javascript">
$(document).ready(function(){
  $(".toggle_new_category").click(function(){

    if($("tr[class*=edit_category]:visible").length > 0){
      alert("請先完成編輯中的產品分類");
    }
    else{
      
      $(".list-new").toggle();
    }
  });

  $(".cancel_new_category").click(function(){
      $(".new_cate_name_input").val(''); //clear input
      $(".list-new").toggle();
  });

  $(".edit").click(function(){
    $active_id = $(this).data("id");
    if($("tr[class*=edit_category]:visible").length > 0){
      alert("請先完成編輯中的產品分類");
    }
    else{
      toggle_edit_area($active_id);
    }
  });

  $(".uvs").click(function(){
    $active_id = $(this).data("id");
    toggle_edit_area($active_id);
  });

  function toggle_edit_area(active_id){
    $("tr.edit_category_" + active_id).toggle();
    $("tr.show_category_" + active_id).toggle();
  }
});
</script>

 <script>
  $(function() {
    var prevEvent = null;
      $( "#dragable_container" ).sortable({
        items: ".dragable" ,
        placeholder: "ui-state-highlight",
        update: function( event, ui ) {
            
          if(event.timeStamp == prevEvent){
            return null;
          }
          
          prevEvent = event.timeStamp;  
          var newRankings_array = $('#dragable_container').sortable('toArray');
          var orderSet = [];
          $.each(newRankings_array, function( index, value){
                orderSet.push(value.replace("Productcontainer_",""));
            });
            var order2Push = JSON.stringify(orderSet);
            
            $.ajaxSetup({
              headers: {
                  'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
            }
          });

          // reorder 
          $.ajax({
            type: "PATCH",
            url: "/admin/products/"+orderSet[0]+"/reorder",
            data: { products: {  reorderset: orderSet } },
            success: function(data){

              alertify['success'](data[0][1], 2000);
              
              return false   
            },
            error: function(data){
            
              return false  
            }
          });

        }
      });
      
        
      $( "#dragable_container" ).disableSelection();
    });  
  </script>