<script src="/js_plugins/peditor/js/editor.js"></script>
<script src="/js_plugins/peditor/js/editor_p.js"></script>
<script src="/js_plugins/peditor/js/editor_img.js"></script>
<script src="/js_plugins/peditor/js/editor_list.js"></script>
<script src="/js_plugins/peditor/js/editor_video.js"></script>

<header>
  <h2 class="left">商品管理</h2>
  <nav class="left">
    <%= link_to "簡介", edit_admin_category_product_path(@product.category, @product) %>
    <%= link_to "照片", admin_category_product_photo_path(@product.category, @product) %>
    <%= link_to "尺寸", admin_category_product_measurements_path(@product.category, @product) %>
    <%= link_to "庫存", admin_category_product_stocks_path(@product.category, @product) %>
    <%= link_to "內容", admin_category_product_free_paragraph_path(@product.category, @product) , class: "active" %>
  </nav>
</header>
<article data-no-turbolink>

  <%= form_for(@product, :url => admin_category_product_free_paragraph_path(@product.category, @product), html: { id: "patchthisproduct" } ) do |f| %>
    <%= f.hidden_field :name %>
    <%= fields_for @product.article do | a | %>
      <%= a.hidden_field :content, {:id => 'product_content'} %>
    <% end %>
  <% end %>

  <%= render  'admin/peditor/editor' %>

  <div class="button"> 
    <%= link_to image_tag("/images/admin/left.png")+"返回", admin_category_path(@product.category), class: "left" %>
    <a href="javascript: document.getElementById('patchthisproduct').submit();" class="right highlight" data-no-turbolink = true >儲存<img src="<%= image_path("/images/admin/save.png") %>"></a>
  </div>

</article>

<script type="text/javascript">
$(document).ready(function(){

    editor.init({articleModel: "product", photoUpload: 'peditor/<%= @product.article.id %>/createPhoto', p_selectList: ["paragraphFontClass"],linkedp: true});

    $("#submit").click(function(e){
      e.preventDefault();

      if(!editor.isPostNotSent()){
        $("#edit_article_<%= @product.article.id %>").submit();
        $('.file').removeClass('success');  
      }
      else{
        editor.alert("段落編輯尚未完成。", "error");
      }
    
    });

});

</script>