<link rel="stylesheet" href="/css/pageLogin.css">
<% content_for :header do %>

<% end %>

<div class="xlg-margin"></div>
<div id="lookbook">
<div class="container">
  <header class="content-title">
    <div class="title-bg">
      <h2 class="title forgotten">RESET PASSWORD<span>變更密碼</span></h2>
    </div>
  </header>
  <div class="layout member">
    <%= devise_error_messages! %>
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
        
      <p>請輸入您的新密碼<br>Enter your new password.</p>
      <%= f.hidden_field :reset_password_token %>
      <div class="input-group input-container contact-email">
        <span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">新密碼</span></span>
        <td>
        <%= f.password_field :password, :autofocus => true , class: 'form-control input-lg', placeholder: "password" %>
        </td>
      </div>
      <div class="input-group input-container contact-email">
        <span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">確認新密碼</span></span>
        <td><%= f.password_field :password_confirmation, :autofocus => true , class: 'form-control input-lg', placeholder: "" %>
        </td>
      </div>
      <br><br>
      <p class="text-right">
        <%= f.submit "密碼重設 RESET", class: "btn btn-custom-3", data: {disable_with: "..."} %>
      </p>
    <% end %>
    <br><br><br><br>
  </div>
</div>

<div class="xlg-margin"></div>

<script src="/js_plugins/jq_validation/jquery.validate.min.js"></script>
<script src="/js_plugins/jq_validation/additional-methods.min.js"></script>
<script src="/js_plugins/jq_validation/messages_zh_TW.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $("#new_user").validate({
    //debug: true,
    rules: {
      "user[password]": {
        required:true,
        minlength: 8
      },
      "user[password_confirmation]": {
        required:true,
        minlength: 8
      }
    }
  });
  });
</script>