<link rel="stylesheet" href="/css/pageLogin.css">

<% content_for :breadcrumb do %>
<%= link_to 'Home', root_path, title: '首頁' %> &nbsp; > &nbsp; FORGOTTEN PASSWORD
<% end %>

<div class="xlg-margin"></div>
<div id="lookbook">
<div class="container">
  <header class="content-title">
    <div class="title-bg">
      <h2 class="title forgotten">FORGOTTEN PASSWORD<span>忘記密碼</span></h2>
    </div>
  </header>
  <div class="layout member">
    <%= devise_error_messages! %>
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, id: 'login-form' }) do |f| %>
        
      <p>請輸入您的信箱<br>Enter your email address.</p>
      <div class="input-group input-container contact-email">
        <span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">電子信箱</span></span>
        <td><%= f.email_field :email, :autofocus => true , class: 'form-control input-lg', placeholder: "Email" %></td>
      </div>
      <br><br>
      <p class="text-right">
        <%= f.submit "密碼重設 RESET", class: "btn btn-custom-3", data: {disable_with: "..."} %>
      </p>
    <% end %>
    <br><br><br><br>
  </div>
</div>

<div class="xlg-margin"></div>

<script src="/js_plugins/jq_validation/jquery.validate.min.js"></script>
<script src="/js_plugins/jq_validation/additional-methods.min.js"></script>
<script src="/js_plugins/jq_validation/messages_zh_TW.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $("#new_user").validate({
    //debug: true,
    rules: {
      "user[email]": {
        required:true,
        email: true
      }
    }
  });
  });
</script>
