<% content_for :breadcrumb do %>
  <%= link_to 'Home', root_path, title: '首頁' %> &nbsp; > &nbsp; <%= link_to 'ACCOUNT', 'javascript:void(0);' %>
<% end %>

<div id="lookbook">
  <div class="xlg-margin hidden-xs"></div>
  <!-- Space 間隔 -->
  <div class="container"><!-- Start .container -->
    <header class="content-title">
      <div class="title-bg">
        <h2 class="title account">ACCOUNT<span>會員帳戶</span></h2>
      </div>
    </header>
    <div class="row"><!-- Start .row -->
      
      <div class="tab-container left product-detail-tab clearfix">
        <aside class="col-md-3 col-sm-4 col-xs-12 sidebar"><!-- Start #sidebar 左清單 -->
          
          <div class="panel-group custom-accordion sm-accordion categoryTitle" id="category-filter"><!-- Start .panel-group 分類面板 -->
            <div class="accordion-header">
              <div class="accordion-title markTitle">帳戶管理<span>ACCOUNT</span></div>
            </div>
            <ul class="category-filter-list jscrollpane nav-tabs">
              <li class="active">
                <%= link_to '訂單管理 Order history', useradmin_orders_path %>
              </li>
              <li>
                <%= link_to '會員資料 Personal details', useradmin_users_path %>
              </li>
              <li>
                <%= link_to '常用地址 Primary address', useradmin_addressbooks_path %>
              </li>
              <li>
                <%= link_to '我的最愛 My Favorites', useradmin_tracking_lists_path %>
              </li>
            </ul>
          </div>
          <!-- End .panel-group --> 
          
        </aside>
        <!-- End #sidebar -->
        <div class="tab-content clearfix">
          
          <div class="tab-pane active" id="orderList">
            <table class="table">
              <tr>
                <th>訂單編號 NO.</th>
                <th>訂單時間 Order time </th>
                <th>付款方式 Payment method </th>
                <th>處理狀態 Order status</th>
              </tr>
              <% @orders.each do |order| %>
                <tr>
                  <td><%= link_to order.ordernum, useradmin_order_path(order) %></td>
                  <td><span><%= order.created_at.strftime("%Y-%m-%d %H:%M") %></span></td>
                  <td><span><%= order.get_payment_type %></span></td>
                  <td><span><%= order.get_payment_status %></span></td>
                </tr>
              <% end %>
            </table>
          </div>
          <!-- End .tab-pane -->
     
        </div>
        <!-- End .tab-content --> 
      </div>
      <!-- End .tab-container --> 
      
    </div>
    <!-- End .row --> 
    
  </div>
  <!-- End .container -->
  
  <div class="lg-margin2x visible-sm visible-xs"></div>
  <!-- Space 間隔--> 
  
</div>
<!-- End .lookbook --> 