<aside class="col-md-3 col-sm-4 col-xs-12 sidebar"><!-- Start #sidebar 左清單 --> 
  <div class="widget"><!-- End .widget --> 
    <div class="panel-group custom-accordion sm-accordion categoryTitle" id="category-filter"><!-- Start .panel-group 分類面板 --> 
      <div class="accordion-header">
        <div class="accordion-title markTitle">品牌總覽 <span>SHOP</span></div>
        <% @root_node = Category.return_root_node unless @root_node %>
        <% @hierarchy = Category.get_level_hierarchy() unless @hierarchy %>
        <% levels = @hierarchy.select { |v| v[2] == @root_node.id } %>
      </div>
    
      <% levels.each_with_index do | level1, index | %>
        <%= aside_panel(category_path(id: level1[0]) ) %><!-- Start .panel 分類 --> 
          <div class="accordion-header">
            <span class="accordion-btn"></span>
            <div class="accordion-title">
              <span><%= link_to level1[3], category_path(id: level1[0]) %></span>
            </div>
            <!-- <a class="accordion-btn opened"  data-toggle="collapse" data-target='#<%# "category-list-#{level1[0]}" %>'></a> -->

          </div>
          <div id='<%= "category-list-#{level1[0]}" %>' class="collapse in"><!-- Start .category-list 子面板 --> 
            <div class="panel-body">
              <ul class="category-filter-list jscrollpane">
                <% levels = @hierarchy.select { |v| v[2] == level1[0] } %>
                <% levels.each do | level2 | %>
                  <%= aside_link(level2[3], category_path(id: level2[0]) ) %>
                <% end %>    
              </ul>
            </div>

          </div><!-- End .category-list -->
        </div>
      <% end %>

    </div><!-- End .panel-group --> 
  </div><!-- End .widget -->
  

  <div class="widget related"><!-- Start .related 瀏覽歷史 --> 
    <h3 class="title">Recently Viewed<span>已瀏覽過的商品</span></h3>
    <div class="related-slider flexslider sidebarslider">
      <ul class="related-list clearfix">
        <%= list_recently_viewed(session[:recently_viewed]) %>
      </ul>
    </div>
    <!-- End .related-slider --> 
  </div>
</aside><!-- End #sidebar -->