<%= form_tag(add_cart_index_path, id: "add_to_cart_form") do %>
<%= show_stocks(stocks) %>
<!--features-->
<div id="price" class="row">
  
  <div class="col-md-5 col-sm-7">
    <% if @product.price_for_sale > 0 %>
    <b>優惠價 $<%= number_with_delimiter(@product.price_for_sale) %> 元</b>
    <% else %>
      <b>優惠價 $<%= number_with_delimiter(@product.price) %> 元</b>
    <% end %>
    <br>
    <span>原價 $<%= number_with_delimiter(@product.price) %> 元</span>
    
  </div>
  
  <div class="col-md-3 col-sm-5">
    <!-- <option disabled="disabled" selected="selected">請選擇數量</option> -->
    <select name="cart[amount]" id="cart_amount" class="form-control" >
      <%= show_stock_amount_options(stocks.first, amount_in_cart)%>
    </select>
  </div>
  
</div>
<!--price-->
<div id="buy-1" class="buy row">
  <div class="col-md-8 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-6 col-xs-offset-3">
    <%= submit_tag "我要購買", class: "btn btn-block btn-lg" , role:"button", data: {disable_with: "加入購物車..."} %>
  </div>
  <!--buy--> 
</div>


<% end %>