<script src="/js_plugins/colorbox/jquery.colorbox-min.js"></script>

<script src="/js_plugins/peditor/js/editor.js"></script>
<script src="/js_plugins/peditor/js/editor_p.js"></script>
<script src="/js_plugins/peditor/js/editor_img.js"></script>
<script src="/js_plugins/peditor/js/editor_list.js"></script>
<script src="/js_plugins/peditor/js/editor_video.js"></script>
<script src="/js_plugins/peditor/js/jquery.imgareaselect.min.js"></script>

<link rel="stylesheet" type="text/css" href="/js_plugins/peditor/css/imgareaselect-default.css" />
<link rel="stylesheet" type="text/css" href="/js_plugins/colorbox/colorbox.css" />      

<div class="cover">
  <% if @community.galleries.select{ |v| v['type'] == "CommunityCoverGallery" }.first %>
    <% community_cover_url = @community.galleries.select{ |v| v['type'] == "CommunityCoverGallery" }.first.attachment.url %>
    <%= image_tag community_cover_url  if community_cover_url %>
  <% end %>
</div>
<!--cover-->
<input id="article_content" style="display:none;" type="text" value="<%= @community.article.content %>">

<div class="title">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="date">
        <div><b><%= @community.created_at.strftime("%d")%></b><br>
          <%= @community.created_at.strftime("%-m")%>月
        </div>
      </td>
      <td><h3><%= @community.title %></h3></td>
    </tr>
  </table>
</div>
<!--title-->
<div class="content"  id="articleContent"></div>    


<script type="text/javascript">

    editor.output();  

</script>