<link rel="stylesheet" href="/css/pageAbout.css">


<article class="container-fluid">
  <section class="row container" id="news-show">
    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
      
      <% if @community.type == "CustomizedCommunity" %>

        <%= render 'custom_show' %>

      <% elsif %>
        
        <%= render 'peditor_show' %>

      <% end %>      
      
      
      <div class="page">
        <ul class="pagination">
          <li class="previous">
          <% if @previous_community %>
            <%= link_to community_path(@previous_community) do%>
              <img src="/images/nws-03.gif">
            <% end %>
          <% else %>
            <%= link_to communities_path() do%>
              <img src="/images/nws-03.gif">
            <% end %>
          <% end %>
          </li>
          <li class="menu">
            <%= link_to communities_path do %>
              <img src="/images/nws-05.png">
            <% end %>
          </li>
          <li class="next">
            <% if @next_community %>
              <%= link_to community_path(@next_community) do%>
                <img src="/images/nws-04.gif">
              <% end %>
            <% else %>
              <%= link_to communities_path() do%>
                <img src="/images/nws-04.gif">
              <% end %>
            <% end %>
          </li>
        </ul>
      </div><!--page-->


    </div>
  </section>
</article>