<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="Robots" content="index,follow"/>
<meta http-equiv="content-language" content="zh-TW" />
<title>LadyBoo 後台管理系統</title>

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<link rel="stylesheet" href="/css/admin/reset.css">
<link rel="stylesheet/less" type="text/css" href="/css/admin/global.less" />
<link rel="stylesheet/less" type="text/css" href="/css/admin/custom.less" />

<script src="/js/admin/less.min.js"></script>
<script src="/js/admin/global.js"></script>

  <script>
    window.onload= function() {
    <% if !flash[:notice].nil? %>
     alertify['success']('<%= flash[:notice] %>', 3000);
    <% end %>
    
    <% if !flash[:alert].nil? %>
    alertify['error']("<%= flash[:alert].html_safe %>", 3000); 
    <% end %>
  }
  </script>

</head>
  <body>
    <section id="wrapper">
      <header>
        <h1>LadyBoo 後台管理系統</h1>
        <aside class="right"> <a href="<%= admin_root_url %>" id="aside-1">index</a><%= link_to "Edit profile", admin_admins_path , id: "aside-2" %><%= link_to 'Log out', destroy_admin_session_path, :method => :delete, id: "aside-3" %></aside>
      </header>
      <article id="container">
        <%= render 'admin/common/nav' %>
        <section id="content" _height="auto" class="left">
          
          <%= yield %>
        
        </section>
      </article>
    </section>
  </body>
</html>
