<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8"> <![endif]-->
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>Ladyboo</title>
  <meta name="description" content="Responsive modern ecommerce Html5 Template">
  <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href='//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic%7CPT+Gudea:400,700,400italic%7CPT+Oswald:400,700,300' rel='stylesheet' id="googlefont">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/revslider.css">
  <link rel="stylesheet" href="/css/owl.carousel.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/responsive.css">
  <link rel="stylesheet" href="/css/colorbox.css" />
  <link rel="stylesheet" href="/css/layout.css">
  

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  
  <!-- Favicon and Apple Icons -->
  <link href='/images/favicon.ico' rel='shortcut icon' />
  <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon">
  <link rel="icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon">

  <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <link rel="stylesheet" href="/css/ie8.css">
  <![endif]-->


  <script>
    window.onload= function() {
    <% if !flash[:notice].nil? %>
     alertify['success']('<%= flash[:notice] %>', 2000);
    <% end %>
    
    <% if !flash[:alert].nil? %>
    alertify['error']("<%= flash[:alert].html_safe %>", 2000); 
    <% end %>
  }
  </script>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '380171498811984',
        xfbml      : true,
        version    : 'v2.2'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/zh_TW/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
</head>
<body>
 <div id="fb-root"></div>
  
  <div id="wrapper">
    <!--Header Start**************************************************************************************************************--> 
    <%= render 'layouts/front_shared_header' %>

    <!--Header End**************************************************************************************************************--> 
    <div class="container bottom"> <div class="bgBottom index"></div></div><!-- .bgBottom 下方背景圖 -->
     <!--Container Start**************************************************************************************************************-->
    <%= yield :header %> <!-- for 上方橫幅 -->
  
  <section id="content">
    <%= yield %>
  </section>
    <!--Container End**************************************************************************************************************--> 
  
  <!--Footer Start**************************************************************************************************************-->
  <%= render 'layouts/front_shared_footer' %>
  <!--Footer End**************************************************************************************************************--> 
  </div><!--wrapper End --> 

  <script src="/js/bootstrap.min.js"></script> 
  <script src="/js/smoothscroll.js"></script> 
  <script src="/js/retina-1.1.0.min.js"></script> 
  <script src="/js/jquery.placeholder.js"></script> 
  <script src="/js/jquery.hoverIntent.min.js"></script> 
  <script src="/js/twitter/jquery.tweet.min.js"></script> 
  <script src="/js/jquery.flexslider-min.js"></script> 
  <script src="/js/owl.carousel.min.js"></script> 
  <script src="/js/jflickrfeed.min.js"></script> 
  <script src="/js/jquery.prettyPhoto.js"></script> 
  <script src="/js/jquery.themepunch.plugins.min.js"></script> 
  <script src="/js/jquery.themepunch.revolution.min.js"></script> 
  <script src="/js/jquery.colorbox.js"></script> 
  <script src="/js/jquery.bxslider.min.js"></script> 
  <script src="/js/main.js"></script> 

</body>
</html>
